<template>
  <div>
    <!--<h4>Earnings</h4>-->
    <!--<hr>--><br>

    <div class="row text-center col-blue-grey font-13 font-bold" v-if="!earnings || !earnings.length">
      <div class="col-md-12">
        No Earnings to display, come back later after league is done
      </div>
    </div>
    <div class="row clearfix" v-else>

      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" v-for="earn in earnings">
        <li class="list-group-item text-left" >
          <p class="list-group-item-heading" :class="{'font-bold': earn.isUser}">
            {{earn.team}} <span class="pull-right col-indigo"> Ghs {{Number(earn.earning).toFixed(2)}}</span></p>
        </li>
      </div>

    </div>
  </div>
</template>

<script>
  export default {
    props: ['earnings']
  }
</script>
