<template>
  <div>
    <!--<h4>League Fixtures</h4>-->
    <!--<hr>--><br>
    <div class="row text-center col-blue-grey font-13 font-bold" v-if="!fixtures.length || !fixtures">
      <div class="col-md-12">
        No Results to display, come back later after league is done
      </div>
    </div>
    <div class="row clearfix" v-else>
      <app-week v-for="(f, index) in fixtures" :key="index" :week="f"></app-week>
    </div>
  </div>
</template>

<script>
  import Week from './week.vue'

  export default {
    props: ['fixtures'],
    components: {
      AppWeek: Week
    }
  }
</script>
