<template>
  <div>
    <!--<h4 >Participating Teams</h4>-->
    <!--<hr>--><br>

    <div class="row text-center col-blue-grey font-13 font-bold" v-if="!members">
      <div class="col-md-12">
        <div class="preloader pl-size-xs">
          <div class="spinner-layer pl-teal">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center col-blue-grey font-13 font-bold" v-if="members.length === 0">
      <div class="col-md-12">
       <p>
         No members in this league
       </p>
      </div>
    </div>

    <div class="row clearfix">
      <app-member-item v-for="(m, index) in members" :key="index" :member="m"></app-member-item>
    </div>
  </div>
</template>

<script>
  import MemberItem from './memberItem.vue'

  export default {
    components: {
      AppMemberItem: MemberItem
    },
    props: ['members']
  }
</script>
