<template>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <li class="list-group-item text-left">
      <h4 class="list-group-item-heading col-blue-grey">
        <img :src="member.image" alt="logo">
        {{member.name}} <span class="pull-right col-indigo"><sup><i class="col-blue-grey font-12">wins</i>  {{Number(member.wins).toFixed(2)}}%</sup></span></h4>
      <div class="list-group-item-text">
        Attack {{member.attack}}, Defense {{member.defense}}, Midfield {{member.midfield}}
      </div>
    </li>
  </div>
</template>

<script>
  export default {
    props: ['member']
  }
</script>

<style scoped>
  .col-lg-3, .col-md-3, .col-sm-12, .col-xs-12{
    padding: 0px;
  }
  .list-group-item {
    margin: 2px;
    border-radius: 0px;
    cursor: pointer;
  }
  img{
    width: 15%;
    height: 100%;
    border-radius: 50%;
    margin-right: 5px;
  }
</style>
