<template>
  <div>
    <!--<h4>League Standing</h4>-->
    <!--<hr>--><br>

    <div class="row text-center col-blue-grey font-13 font-bold" v-if="!standings.length || !standings">
      <div class="col-md-12">
        No Standings to display, come back later after league is done
      </div>
    </div>

    <div class="row clearfix" v-else>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <table>
          <!--<thead class="bg-teal">-->
          <tr class="bg-teal">
            <td>#</td>
            <td>Name</td>
            <td>MP</td>
            <td>W</td>
            <td>D</td>
            <td class="hidden-xs hidden-sm">L</td>
            <td class="hidden-xs">GF</td>
            <td class="hidden-xs hidden-sm">GA</td>
            <td>GD</td>
            <td>Pts</td>
          </tr>
          <!--</thead>-->
          <tbody>
          <tr v-for="stand in standings" :class="{'font-bold': stand.isUser}">
            <td>{{stand.position}}</td>
            <td class="text-left">{{stand.team}}</td>
            <td>{{stand.MP}}</td>
            <td>{{stand.W}}</td>
            <td>{{stand.D}}</td>
            <td class="hidden-xs hidden-sm">{{stand.L}}</td>
            <td class="hidden-xs">{{stand.GF}}</td>
            <td class="hidden-xs hidden-sm">{{stand.GA}}</td>
            <td>{{stand.GD}}</td>
            <td>{{stand.PTS}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</template>

<script>
  export default {
    props: ['standings']
  }
</script>

<style scoped>
  table{
    width: 100%;
    overflow: auto;
    padding-left: 5px;
    height: auto;
  }
  .row{
    padding: 0px;
  }
  td{
    padding: 5px;
    padding-bottom: 8px;
    padding-top: 8px;
  }
  tbody tr:nth-child(even){
    background-color: #F2F4F4;
  }
</style>
