<template>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="card">
      <div class="header">
        <h2 class="col-blue-grey">
          {{week.name}}
        </h2>
      </div>
      <div class="body list-type2">
        <!--<div class="">-->
          <ol>
            <li v-for="match in week.matches">
              <a href="javascript:void(0);">
                <span class="pull-left" :class="{'font-bold': match.isUser.home}">{{match.home}}</span>
                <span style="margin: auto;" class="font-bold col-teal">{{match.score.home}} : {{match.score.away}}</span>
                <span class="pull-right" :class="{'font-bold': match.isUser.away}">{{match.away}}</span></a>
            </li>
          </ol>
        <!--</div>-->
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['week']
  }
</script>

<style scoped>
  .col-lg-4, .col-md-4, .col-sm-6, .col-xs-12{
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .card{
    box-shadow: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .header{
    padding: 0px;
    padding-bottom: 5px;
  }
  .body{
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .list-type2 ol{
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    /*margin-bottom: 4em;*/
  }

  .list-type2 ol ol{
    margin: 0 0 0 0;
  }

  .list-type2 a{
    position: relative;
    display: block;
    padding: .3em .3em .3em 1em;
    *padding: .4em;
    margin: .5em 0;
    background: #F2F4F4;
    color: #444;
    text-decoration: none;
    transition: all .2s ease-in-out;
  }
  /*.list-type2 a:hover{*/
    /*background: #d6d4d4;*/
    /*text-decoration:none;*/
    /*transform: scale(1.1);*/
  /*}*/

  .list-type2 a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: rgb(0, 150, 136);
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    color:#FFF;
  }
  .pull-right{
    padding-right: 2px;
  }
</style>
