<template>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="card">
      <div class="header">
        <table class="font-bold">
          <tr>
            <td class="club">
              <span>{{fixture.home.name}}</span>
            </td>
            <td class="col-teal score">
              <span>{{ hscore }}</span>
            </td>
          </tr>

          <tr>
            <td class="club">
              <span>{{fixture.away.name}}</span>
            </td>
            <td class="col-teal score">
              <span>{{ ascore }}</span>
            </td>
          </tr>

        </table>
        <div class="bet">
          <button class="btn btn-default btn-circle waves-effect waves-circle waves-float">
            <i class="material-icons">alarm</i>
          </button>
          <span style="margin-left: 20px; font-size: 1.2em;">{{time}}'</span>
          <p class="pull-right">
            <span class="font-bold font-12 col-blue-grey">
            {{type}}
          </span><br>
            Odd:
            <span class="font-bold font-12 col-blue-grey">
            {{fixture.bet.odd}}
          </span>
          </p>
        </div>
        <ul class="header-dropdown m-r--5">
          <li v-if="time < 90">
            <button v-if="!load" class="btn btn-danger waves-effect btn-sm" @click="remove()">
              <i class="material-icons" style="color: white;">close</i>
            </button>
            <div v-if="load" class="preloader pl-size-xs">
              <div class="spinner-layer pl-teal">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </li>
          <li v-if="won">
            <button class="btn btn-success waves-effect btn-sm"> Won </button>
          </li>
          <li v-if="loss">
            <button class="btn btn-danger waves-effect btn-sm"> Loss </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable no-multiple-empty-lines,no-trailing-spaces */

  export default {
    props: ['fixture', 'reset'],
    data () {
      return {
        hscore: 0,
        ascore: 0,
        time: 0,
        home: [],
        away: [],
        trackhome: 0,
        trackaway: 0,
        timer: null,
        won: false,
        loss: false
      }
    },
    methods: {
      resetComponent () {
        this.hscore = 0
        this.ascore = 0
        this.time = 0
        this.home = []
        this.away = []
        this.trackaway = 0
        this.trackhome = 0
        this.timer = null
        this.won = false
        this.loss = false
      },
      remove () {
        this.$store.dispatch('remove_from_slip', this.fixture)
      },
      play () {
        const vm = this
        this.split()
        this.trackhome = this.fixture.score.home
        this.trackaway = this.fixture.score.away

        this.timer = setInterval(function () {
          vm.home.find(element => {
            if (element === vm.time) {
              vm.hscore++
              this.trackhome--
            }
          })
          vm.away.find(element => {
            if (element === vm.time) {
              vm.ascore++
              this.trackaway--
            }
          })
          vm.time += 1
        }, 500)
      },
      split () {
        for (let i = 1; i <= this.fixture.score.home; i++) {
          this.home.push(Math.floor(Math.random() * 90) + 1)
        }
        for (let i = 1; i <= this.fixture.score.away; i++) {
          this.away.push(Math.floor(Math.random() * 90) + 1)
        }
      }
    },
    computed: {
      type () {
        let type = this.fixture.bet.type
        let name = ''
        switch (type) {
          case 'one':
            name += this.fixture.home.name
            break
          case 'onex':
            name += this.fixture.home.name + ' / X'
            break
          case 'two':
            name += this.fixture.away.name
            break
          case 'twox':
            name += this.fixture.away.name + ' / X'
            break
          case 'draw':
            name += this.fixture.bet.type
            break
        }

        return name
      },
      start () {
        return this.$store.getters.start
      },
      load () {
        return this.time > 0 && this.time < 90
      },
      cleared () {
        return this.$store.getters.cleared
      },
      deactivate () {
        return this.$store.getters.deactivate
      }
    },
    watch: {
      start () {
        if (this.start) {
          const vm = this
          setTimeout(function () {
            vm.play()
          }, Math.floor(Math.random() * 4000))
        }
      },
      time () {
        if (this.time === 90) {
          clearInterval(this.timer)
          this.won = this.fixture.status
          this.loss = !this.won
          this.$store.dispatch('done')
        }
      },
      reset () {
        if (this.reset) {
          this.resetComponent()
        }
      }
    }
  }
</script>

<style scoped>
  .bet{
    text-align: left;
  }
  .club{
    cursor: pointer;
    text-align: left;
  }
  .score{
    text-align: center;
    padding-left: 50px;
    font-size: 1.5em;
  }
  td{
    padding: 5px;
  }
  .btn{
    border-radius: 0px;
  }
</style>
