<template>
  <section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <h2>BET SLIP</h2>
        <hr>
      </div>

      <div class="row clearfix">
        <app-bet v-for="(s, index) in slip" :key="index" :fixture="s" :reset="r"></app-bet>
      </div>

    </div>
    <div class="row clearfix">
      <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <p v-if="sliplen > 0">
              <span class="pull-left">STATUS:  <span v-if="start">SIMULATING BETSLIP</span></span> <span v-if="won && done" class="text-left col-teal font-bold font-15"> YOU WON </span>
              <span v-if="!won && done" class="text-left col-red font-bold font-15"> YOU LOST </span>
              <span class="pull-right font-13"><span class="text-left">Odds: <span class="m-r-5 font-bold col-teal">{{odd}}</span> | </span> POSSIBLE GAIN: <span class="font-bold col-green font-15">GHS {{ isNaN(gain) ? 0 : gain }}</span></span>
            </p>
          </div>
          <div class="body">
            <form @submit.prevent="validate()" v-if="sliplen > 0 && !start">
              <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <form @submit.prevent="validate">
                  <div class="form-group form-float">
                    <div class="form-line">
                      <input type="text" class="form-control" placeholder="Stake amount" name="amount"  autofocus v-model="amount" >
                    </div>
                    <span v-if="error" class="pull-left col-red" style="padding: 10px;">Please enter an amount above GHS 0.50</span>
                  </div>
                  </form>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <button v-if="!loading" type="submit" class="btn bg-teal btn-lg m-l-15 waves-effect">Stake & Play</button>
                  <div v-if="loading" class="preloader pl-size-sm pl-deep-orange">
                    <div class="spinner-layer">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div>
                      <div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
                  <p v-if="loading" class="text-center p-t-5 col-teal">Getting ready...</p>
                </div>
              </div>
            </form>
            <p v-if="sliplen < 1" class="text-center font-bold font-12 col-blue-grey">No Fixture in bet slip</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  /* eslint-disable no-trailing-spaces,no-undef,quotes,indent */

  import SingleBet from './singlebet.vue'
  import simulate from './../../../../../services/fixtures/simulation'

  export default {
    data () {
      return {
        loading: false,
        amount: Number(1).toFixed(2),
        error: false,
        r: false
      }
    },
    components: {
      AppBet: SingleBet
    },
    computed: {
      slip () {
        return this.$store.getters.slip
      },
      odd () {
        return this.$store.getters.odd
      },
      gain () {
        return Number(this.$store.getters.odd * this.amount).toFixed(2)
      },
      sliplen () {
        return this.$store.getters.sliplen
      },
      start () {
        return this.$store.getters.start
      },
      won () {
        return this.$store.getters.won
      },
      done () {
        return this.$store.getters.done
      },
      stake () {
        return Number(Number.parseFloat(this.amount)).toFixed(2)
      },
      cleared () {
        return this.$store.getters.cleared
      },
      simError () {
        return this.$store.getters.simError
      }
    },
    methods: {
      validate () {
        this.error = false
        if (this.amount < Number(0.5).toFixed(2) || this.amount === Number(0).toFixed(2) || isNaN(this.amount) || this.amount === '') {
          this.error = true
          return false
        } else {
          this.error = false
//          console.log('entering....')
          const vm = this
          if ((this.cleared === true && this.start === false) || this.done === false) {
            swal({
              title: "Please confirm you want to stake GHS " + vm.amount,
              type: "info",
              showCancelButton: true,
              confirmButtonColor: "#009688",
              confirmButtonText: "Yes",
              cancelButtonText: "Cancel",
              closeOnConfirm: true,
              closeOnCancel: true
            }, function (isConfirm) {
              if (isConfirm) {
                vm.play()
              } else {
//                swal("Cancelled", "Your imaginary file is safe :)", "error");
              }
            })
          }
        }
      },
      play () {
        this.loading = true
        simulate(this.stake)
      }
    },
    watch: {
      start () {
        this.loading = false
      },
      cleared () {
        if (this.cleared === true) {
          this.r = true
        } else {
          this.r = false
        }
      },
      simError () {
        if (this.simError === true) {
          this.loading = false
          swal("Sorry", "You don't have enough balance to stake this bet", "error")
          this.$store.dispatch('simError', false)
        }
      },
      done () {
        const vm = this
        if (this.won && this.done) {
          swal("Congratulations", "You've won. GHS " + vm.gain + " is deposited into your account", "success")
        } else if (!this.won && this.done) {
          swal("Sorry", "You've lost", "error")
        }
      }
    }
  }
</script>
