<template>
  <section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
          <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
            <div class="card">
              <div class="header">
                <p class="font-bold col-teal">
                  HOW TO PLAY AT PESCEDI
                </p>
              </div>
              <div class="body">
                <blockquote class="m-b-25 text-left font-15">
                  <p class="text-left col-teal font-bold">
                    Deposit some money into your account
                  </p>
                </blockquote>
                <p class="text-justify">
                  Pescedi is only interested in money business, before you stake bets or join leagues, you must have some money in your account.
                 You use this money to pay for your stakes and entries in to leagues.
                 To deposit money, go to my wallet page follow the procedures there.
                </p>

                <blockquote class="m-b-25 text-left font-15">
                  <p class="text-left col-teal font-bold">
                    Stake Bets
                  </p>
                </blockquote>
                <!---->

                <h6 class="text-left col-blue-grey">SELECT FIXTURES</h6>
                <p class="text-justify">
                  This is very simple, create account with Pescedi as it’s the first step of all.
                  After account is created, get to login page and login to your account.
                  Now you’re a pescedian,<br><br>
                  1. click on fixtures under the betting group(accordion) You’ll see list of soccer matches from random teams.<br><br>
                  2. You’ve been provided with enough information to make your best choices. At the top-right
                  corner of each fixture card, click on the “3 dots” icon and select from the list of options: home team’s performance,
                  away team’s performance, or head to head meetings and even a machine learned scores prediction.<br><br>
                  3. You can also click on the team’s name, to see their current forms.<br><br>
                  4. This feature is best choice for those pescedians who take risks to win big.
                  For each match, there are few lists of options with commensurate odds generated by the
                  computer program which is learned enough to calculate the odds based on the team’s current performance.<br><br>
                  5. Do you have prior idea of soccer betting?<br>
                  <span style="padding-left: 50px">YES? select fixtures of your choice and move on to the slip page</span>
                  <br>
                  <span style="padding-left: 50px">NO? then I think I have to give you more info, probably a little introduction to odds so move on to step 6</span><br><br>
                  6. In soccer betting you have the chance to select several fixtures and each of which has options. You can decide to go with:
                 	A win for home team,
                  A win for away team,
                  A draw for both teams,
                  A win or draw for home team i.e. a double chance for home,
                  A win or draw for away team i.e. a double chance for away team.<br>
                  And several options depending on the company.
                  Each of these options has an odd (odds are like the percentage of money you will win if that particular choice wins. E.g. your odd for home may be 2.32, meaning you will win 2.32 times your stake amount if that choice should be true) and depend on the team’s current form or the bookmaker’s pessimism or optimism.
                  Sometimes you may need the teams current form which will surely be provided for your use.
                  Now select fixtures with your desired choice.<br>
                  I hope this info has helped you?
                </p><br>

                <h6 class="text-left col-blue-grey">
                 GET TO SLIP PAGE AND SIMULATE YOUR FIXTURES.
                </h6>
                <p class="text-justify">
                  If you’re here then I guess you have gone through selecting fixtures.<br><br>
                  1.	Quickly go over your selection, delete fixtures you no longer sure of.<br><br>
                  2.	At the bottom is a form, enter your amount and click “stake & play” button.<br><br>
                  3.	Wait a while for the teams to be prepared for the simulation.<br><br>
                  4.	Once the simulation commences, you’ll see the real-time scoring of the teams.<br><br>
                  5.	After simulation you need to win all individual fixtures before you will win the money.<br><br>
                  <b>	Take note that, once simulation begins, you cannot revert changes. if you forfeit the
                    simulation by refreshing the browser, the faith of the slip does not change. If you’re to loss or win, you will do so.</b><br><br>
                </p>

                <blockquote class="m-b-25 text-left font-15">
                  <p class="text-left col-teal font-bold">
                  Leagues
                  </p>
                </blockquote>
                <!--<h6 class="text-left col-blue-grey">SELECT FIXTURES</h6>-->
                <p class="text-justify">
                1. Click on latest league page under the league group<br><br>
                   i.	Here you’re presented with list of leagues created by other pescedians<br><br>
                  ii.	Click on the 3 dots icon at the top right corner of the league card and there are features there whether to join the league.<br><br>
                  iii.	If there are no leagues, be the first to create one.<br><br>
                  	To do this, click on “Create new league” under the league group.
                Fill the form
                  You need to specify the league’s <span class="col-teal">entry fee</span> –<b> participants to join must pay this amount before they can join your league</b>.
                  You also need to specify <span class="col-teal">when the league’s entire season should be simulated</span>.
                  Don’t forget to give your league a name and some description (this shouldn’t be long. It should be very short about 10 words or less)
                  	Click on create to create your league. You will automatically be added to this league
                  	Pending leagues link takes you to see the leagues you’ve joined that has not been simulated yet.
                  	Completed leagues link takes you to see the leagues you’ve joined that has been simulated
                  	Click on the 3 dots icon at the top-right corner and select the options there.
                  	Your earnings depend on your position in the various leagues
                  	Each position has it's own odd
                </p>

                <blockquote class="m-b-25 text-left font-15">
                  <p class="text-left col-teal font-bold">
                    LAST BUT NOT THE LEAST
                  </p>
                </blockquote>
                <p class="text-justify">
                  You automatically have a team once you create account with Pescedi.
                  All simulations at Pescedi is based on three strategies for each team, these are ATTACK, MIDFIELD and DEFENSE.
                  They are all very important for your success, Pescedi gives you the chance to configure these strategies out of
                  some points assigned to by during your interaction with Pescedi features.
                  To get more points, stake more bets (this gives higher points) and participate in more leagues.
                  The more you participate in leagues, and bets the more points you get to configure your strategy.
                  Assign strength to these strategies wisely.

                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</template>

<style>
  p.text-justify{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
  }
</style>
