<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 col-lg-offset-1">
          <div class="card">
            <div class="header">
              <h2 class="col-blue-grey">
                CREATE NEW LEAGUE
                <small>Enter the league preferences</small>
              </h2>
            </div>
            <div class="body">
              <div class="row clearfix">
                <div class="col-sm-12">
                  <form @submit.prevent="validateBeforeSubmit()" id="form">
                  <div class="form-group">
                    <div class="form-line">
                      <input type="text" class="form-control" placeholder="Name" name="name" v-model="name" v-validate="'required'" autofocus/>
                    </div>
                  </div>
                    <p class="col-deep-orange font-12" v-if="errors.has('name')">{{ errors.first('name') }}</p>
                    <p class="col-deep-orange font-12">{{ server_errors.name[0] }}</p>

                  <div class="form-group">
                    <div class="form-line">
                      <input type="text" class="form-control" name="description" placeholder="Few Description of the league" v-model="description" v-validate="'required'"/>
                    </div>
                  </div>
                    <p class="col-deep-orange font-12" v-if="errors.has('description')">{{ errors.first('description') }}</p>
                    <p class="col-deep-orange font-12">{{ server_errors.description[0] }}</p>

                  <div class="form-group">
                    <div class="form-line">
                      <input type="text" class="form-control" name="entry_fee" placeholder="Entry Fee" v-model="entry_fee" v-validate="'required|decimal:2'"/>
                    </div>
                  </div>
                    <p class="col-deep-orange font-12" v-if="errors.has('entry_fee')">{{ errors.first('entry_fee') }}</p>
                    <p class="col-deep-orange font-12" >{{ server_errors.entry_fee[0] }}</p>

                  <div class="form-group">
                    <div class="form-line">
                      <input type="date" id="date" class="form-control" name="expiry"
                             placeholder="Please choose a date that the league ends..." v-model="expiry" v-validate="'required'">
                    </div>
                  </div>
                    <span class="col-red">{{server_errors.expiry[0]}}</span>
                    <p class="col-deep-orange font-12" v-if="errors.has('expiry')">{{ errors.first('expiry') }}</p>
                    <br><br>
                    <div v-if="!loading">
                      <button type="submit" class="btn bg-teal waves-effect">Create</button>
                    </div>
                    <div class="preloader pl-size-xs" v-else>
                      <div class="spinner-layer pl-teal">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>
                    </div>
                  <!--</div>-->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  /* eslint-disable quotes,no-undef */

  export default {
    data () {
      return {
        loading: false,
        name: '',
        entry_fee: '',
        expiry: '',
        description: '',
        server_errors: {
          name: [''],
          description: [''],
          expiry: [''],
          entry_fee: ['']
        }
      }
    },
    methods: {
      validateBeforeSubmit (e) {
        this.$validator.validateAll()
        if (!this.errors.any()) {
          this.submit()
        }
      },
      submit () {
        this.loading = true
        const vm = this
        var formData = new FormData()
        formData.append('name', this.name)
        formData.append('entry_fee', this.entry_fee)
        formData.append('expiry', this.expiry)
        formData.append('description', this.description)
        this.axios({
          url: 'user/league/create',
          method: 'post',
          data: formData,
          headers: vm.$store.getters.config
        }).then(response => {
          swal("League " + vm.name + " created", "", "success")
          vm.clear()
          vm.loading = false
        }).catch(error => {
          console.log(error.response.data)
          vm.loading = false
          this.mapErrors(error.response.data.data)
          swal("Error", error.response.data.message, "error")
        }).catch(error => {
          console.log(error)
        })
      },
      clear () {
        this.name = ''
        this.description = ''
        this.entry_fee = ''
        this.expiry = ''
      },
      mapErrors (data) {
        this.server_errors.name = data.hasOwnProperty('name') ? data.name : ['']
        this.server_errors.description = data.hasOwnProperty('description') ? data.description : ['']
        this.server_errors.password = data.hasOwnProperty('entry_fee') ? data.entry_fee : ['']
        this.server_errors.expiry = data.hasOwnProperty('expiry') ? data.expiry : ['']
      }
    }
  }
</script>

<style>

</style>
