<template>
  <section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <h2>LATEST LEAGUES</h2>
        <hr>
      </div>

      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

          <div class="row clearfix" v-if="latest === null">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p>
                Loading...
              </p>
              <div  class="preloader pl-size-sm pl-teal">
                <div class="spinner-layer">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card" v-if="latest !== null && latest.length < 1">
            <div class="header">
              <p>No latest league available</p>
            </div>
          </div>
          <app-league v-for="(league, index) in latest" :key="index" :league="league" :id="index" :joined="false" v-on:deleteLeague="deleteLeague" :type="'latest'"></app-league>
        </div>
      </div>
      <div class="row clearfix">
        <div class="row clearfix">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
            <button type="button" class="btn bg-teal waves-effect" style="color: white;">BACK</button>
            <button type="button" class="btn bg-teal waves-effect" style="color: white;">NEXT</button>
          </div>
        </div>
        <br>
      </div>
    </div>
  </section>
</template>
<script>
  /* eslint-disable no-undef */

  import LeagueItem from './leagueItem.vue'

  export default {
    components: {
      AppLeague: LeagueItem
    },
    data () {
      return {
        latest: null
      }
    },
    mounted () {
      this.latest = []
    },
    activated () {
      this.remoteFetch()
    },
    deactivated () {
      this.latest = null
    },
    methods: {
      remoteFetch () {
        const vm = this
        $('.page-loader-wrapper').show()
        this.axios({
          url: 'user/league/latest',
          method: 'get',
          headers: vm.$store.getters.config
        }).then(response => {
//          console.log(response.data)
          $('.page-loader-wrapper').hide()
          vm.latest = response.data.data
        }).catch(error => {
          console.log(error.response.data)
        })
      },
      deleteLeague (id) {
        console.log('deleting ' + id)
      }
    }
  }
</script>
