<template>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="card">
      <div class="header text-left bg-teal">
        <h2>
          {{league.name}} <small>{{league.description}}</small>
        </h2>
        <ul class="header-dropdown m-r--5" >
          <li class="dropdown" v-if="!hasjoined">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">more_vert</i>
            </a>
            <ul class="dropdown-menu pull-right">
              <router-link :to="{name: 'league-detail', params: {id: league.id, comp: 'AppMembers'}, query: {type: type}}" tag="li"><a href="javascript:void(0);">Participants</a></router-link>
              <router-link :to="{name: 'league-detail', params: {id: league.id, comp: 'AppResults'}, query: {type: type}}" tag="li" v-if="league.completed"><a href="javascript:void(0);">Fixtures</a></router-link>
              <router-link :to="{name: 'league-detail', params: {id: league.id, comp: 'AppStandings'}, query: {type: type}}" tag="li" v-if="league.completed"><a href="javascript:void(0);">Standings</a></router-link>
              <router-link :to="{name: 'league-detail', params: {id: league.id, comp: 'AppEarnings'}, query: {type: type}}" tag="li" v-if="league.completed"><a href="javascript:void(0);">Earnings</a></router-link>
              <li v-if="!league.completed && joined"><a href="javascript:void(0);" @click="leave()">Leave</a></li>
              <li v-if="!joined"><a href="javascript:void(0);" @click="join()">Join</a></li>
            </ul>
          </li>
          <span class="material-icons" v-else>check</span>
        </ul>
      </div>
      <div class="body">
          <div class="main">
            <p class="stra"><span class="col-teal">Ends On</span> <span class="pull-right col-blue-grey">{{(new Date(league.expiry)).toDateString()}}</span></p>
            <p class="stra"><span class="col-teal">Entry Fee</span> <span class="pull-right col-blue-grey">Ghs {{Number(league.entry_fee).toFixed(2)}}</span></p>
            <p class="stra"><span class="col-teal">Participants</span> <span class="pull-right col-blue-grey">{{league.participants}}</span></p>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable no-undef,quotes */

  export default {
    props: ['league', 'joined', 'id', 'type'],
    methods: {
      leave () {
        const vm = this
        swal({
          title: "Are you sure?",
          text: "You can join later if you wish!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#009688",
          confirmButtonText: "Yes, remove me!",
          cancelButtonText: "No, I'll stay!",
          closeOnConfirm: false,
          closeOnCancel: true
        }, function (isConfirm) {
          if (isConfirm) {
            vm.axios({
              url: 'user/league/leave',
              method: 'post',
              headers: vm.$store.getters.config,
              data: {league_id: vm.league.id}
            }).then(response => {
              swal("You left!", "", "success")
              vm.$emit('deleteLeague', vm.id)
            }).catch(error => {
              console.log(error.response.data)
            })
          } else {
//            swal("Okay", "", "error")
          }
        })
      },
      join () {
        const vm = this
        this.axios({
          url: 'user/league/join',
          method: 'post',
          data: {league_id: vm.league.id},
          headers: vm.$store.getters.config
        }).then(response => {
          swal("Success", "", "success")
          vm.hasjoined = true
        }).catch(error => {
//          console.log(error.response.data)
          swal("Sorry an error occured", error.response.data.message, "error")
        })
      }
    },
    data () {
      return {
        hasjoined: false
      }
    }
  }
</script>

<style scoped>
  .stra{
    text-align: left;
    border-bottom: 1px solid grey;
  }
  .main{
    overflow-y: auto;
  }
  .badge{
    border-radius: 0px;
    margin-right: 1px;
    /*padding: 3px;*/
  }
</style>
