<template>
    <section class="content">
      <div class="container-fluid">
        <div class="block-header">
          <h2>PENDING LEAGUES</h2>
          <hr>
        </div>

        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="row clearfix" v-if="pending === null">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p>
                  Loading...
                </p>
                <div  class="preloader pl-size-sm pl-teal">
                  <div class="spinner-layer">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card" v-if="pending !== null && pending.length < 1">
              <div class="header">
                <p>No pending league available</p>
              </div>
            </div>
              <app-league v-for="(league, index) in pending" :key="index" :league="league" :joined="true" :type="'pending'"></app-league>
          </div>
        </div>
        <div class="row clearfix">
          <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
              <button type="button" class="btn bg-teal waves-effect" style="color: white;">BACK</button>
              <button type="button" class="btn bg-teal waves-effect" style="color: white;">NEXT</button>
            </div>
          </div>
          <br>
        </div>
      </div>
    </section>
</template>

<script>
  /* eslint-disable no-trailing-spaces,no-undef */

  import League from './leagueItem.vue'

  export default {
    data () {
      return {
        pending: null
      }
    },
    components: {
      AppLeague: League
    },
    methods: {
      remoteFetch () {
        const vm = this
        $('.page-loader-wrapper').show()
        this.axios({
          url: 'user/league/pending',
          method: 'get',
          headers: vm.$store.getters.config
        }).then(response => {
//          console.log(response.data.data)
          $('.page-loader-wrapper').hide()
          vm.pending = response.data.data
        }).catch(error => {
          console.log(error.response.data)
        })
      }
    },
    activated () {
      this.remoteFetch()
    },
    deactivated () {
      this.completed = null
    }
  }
</script>

<style>

</style>
