<template>
  <div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="info-box hover-zoom-effect">
        <div class="icon bg-pink">
          <i class="material-icons">format_line_spacing</i>
        </div>
        <div class="content">
          <div class="text">All Time Ranking - 1<sup>st</sup></div>
          <div class="font-16 font-bold col-teal">{{rank.name}}</div>
        </div>
      </div>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="info-box hover-zoom-effect">
        <div class="icon bg-blue">
          <i class="material-icons">local_bar</i>
        </div>
        <div class="content">
          <div class="text">TROPHIES WON</div>
          <div class="number">+{{trophies}}</div>
        </div>
      </div>
    </div>
    <a href="#" @click.prevent="bot()">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
       <div class="info-box hover-zoom-effect">
         <div class="icon bg-light-blue">
           <i class="material-icons">accessibility</i>
         </div>
         <div class="content" >
           <div class="text">MY BOT
             <span class="badge bg-green m-l-30" style="border-radius: 1em;" v-if="hasbot">on</span>
             <span class="badge bg-grey m-l-30" style="border-radius: 1em;" v-if="!hasbot">off</span>
           </div>
           <div class="number font-14">Hey there!</div>
         </div>
       </div>
    </div>
    </a>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="info-box hover-zoom-effect">
        <div class="icon bg-cyan">
          <i class="material-icons">gps_fixed</i>
        </div>
        <div class="content">
          <div class="text">LOCATION</div>
          <div class="number">Ghana</div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="botModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="defaultModalLabel">WELCOME TO PESCEDI BOT</h4>
          </div>
          <div class="modal-body font-18">
            This feature allows you to tell <span class="font-bold col-teal">Pescedi Bot to join leagues on your behalf</span>.
            When you turn this feature on, pescedi bot will join leagues based on the type of leagues
            you ask it to do. Are you cool with it? Then go ahead and choose from the list of settings below.
            <hr>
            <div class="text-left p-l-20 p-t-20" v-if="!loading">
              <p>
                <input type="checkbox" id="withinweek" class="filled-in chk-col-teal"  v-model="setup.withinWeek"/>
                <label for="withinweek">Leagues to be completed within the week</label>
              </p>
              <p>
                <input type="checkbox" id="anytime" class="filled-in chk-col-teal" v-model="setup.anytime" />
                <label for="anytime">Leagues to be completed any time</label>
              </p>
              <p>
                <input type="checkbox" id="canafford" class="filled-in chk-col-teal"  v-model="setup.canafford"/>
                <label for="canafford">Leagues that I can afford</label>
              </p>
              <p>
                <input type="checkbox" id="lower" class="filled-in chk-col-teal"  v-model="setup.lower10"/>
                <label for="lower">Leagues with entry fees lower than GHS 10.00</label>
              </p>
              <p>
                <input type="checkbox" id="upper" class="filled-in chk-col-teal"  v-model="setup.upper10"/>
                <label for="upper">Leagues with entry fees higher than GHS 10.00</label>
              </p>
              <p>
                <input type="checkbox" id="allleague" class="filled-in chk-col-teal" v-model="setup.all" @change="selectAll()"/>
                <label for="allleague">Select all</label>
              </p>
            </div>

            <div class="m-t-30" v-if="loading">
              <div class="preloader pl-size-xl">
                <div class="spinner-layer pl-teal">
                  <div class="circle-clipper left ">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
              <p class="processing font-15 text-center m-t-30">Turning on.... Please wait</p>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link waves-effect" v-if="!loading" @click="turnOn()">{{hasbot ? 'CHANGE SETTINGS' : 'TURN ON'}}</button>
            <button type="button" class="btn btn-link waves-effect" v-if="hasbot && !loading" @click="turnOff()">TURN OFF</button>
            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</template>

<script>
  /* eslint-disable no-undef,indent */

  import Globals from '../../../../../helpers/Others/Global'

  export default {
    data () {
      return {
        setup: {
          withinWeek: false,
          anytime: false,
          all: false,
          canafford: false,
          lower10: false,
          upper10: false
       },
        loading: false,
        done: false
      }
    },
    computed: {
      rank () {
        return this.$store.getters.rank
      },
      trophies () {
        return this.$store.getters.trophies
      },
      hasbot () {
        return this.$store.getters.bot
      }
    },
    methods: {
      position: Globals.position,
      bot () {
        $('#botModal').modal({
          backdrop: 'static'
        })
      },
      selectAll () {
        if (this.setup.all) {
          this.setup.withinWeek = true
          this.setup.anytime = true
          this.setup.canafford = true
          this.setup.lower10 = true
          this.setup.upper10 = true
        } else {
          this.setup.withinWeek = false
          this.setup.anytime = false
          this.setup.canafford = false
          this.setup.lower10 = false
          this.setup.upper10 = false
        }
      },
      turnOn () {
        this.loading = true
        this.createSettings(this.setup)
      },
      createSettings (data) {
        const vm = this
        this.axios({
          url: 'user/team/bot/settings',
          method: 'post',
          headers: vm.$store.getters.config,
          data: data
        }).then((response) => {
//          console.log(response.data)
          vm.loading = false
          vm.$store.dispatch('change_bot', true)
          $('#botModal').modal('hide')
        }).catch((error) => {
          console.log(error.response.data)
        })
      },
      turnOff () {
        const vm = this
        this.axios({
          url: 'user/team/bot/settings/turn',
          method: 'put',
          headers: vm.$store.getters.config,
          data: {turnOff: true}
        }).then((response) => {
//          console.log(response.data)
          vm.$store.dispatch('change_bot', false)
          $('#botModal').modal('hide')
        }).catch((error) => {
          console.log(error.response.data)
        })
      }
    }
  }
</script>

<style scoped>
a{
  text-decoration: none;
}
  .content{
    cursor: pointer;
    text-align: left;
  }
  label{
    font-size: 1.07em;
  }
</style>
