<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <h2 class="col-teal">

                {{fromServer.league.name}} | <span class="col-orange">Entry Fee: GHS {{Number(fromServer.league.entry_fee).toFixed(2)}}</span> | <span>Total funds: GHS {{Number(fromServer.league.participants * fromServer.league.entry_fee).toFixed(2)}}</span>

              </h2>
              <p>
                <button class="btn bg-teal waves-effect pull-left" @click="previousLeague()">Previous league</button>
                <button class="btn bg-teal waves-effect pull-right" @click="nextLeague()">Next league</button>
              </p>
            </div>
            <div class="body">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" :class="{'active': isSelected.members}">
                  <a href="#" data-toggle="tab" @click.prevent="selectedComponent = 'AppMembers'">
                    <i class="material-icons">group</i> <span class="hidden-sm hidden-xs">MEMBERS</span>
                  </a>
                </li>
                <li role="presentation" :class="{'active': isSelected.fixtures}">
                  <a href="#" data-toggle="tab" @click.prevent="selectedComponent = 'AppResults'">
                    <i class="material-icons">schedule</i> <span class="hidden-sm hidden-xs">FIXTURES</span>
                  </a>
                </li>
                <li role="presentation" :class="{'active': isSelected.standings}">
                  <a href="#" data-toggle="tab" @click.prevent="selectedComponent = 'AppStandings'">
                    <i class="material-icons">format_line_spacing</i> <span class="hidden-sm hidden-xs">TABLE</span>
                  </a>
                </li>
                <li role="presentation" :class="{'active': isSelected.earnings}">
                  <a href="#" data-toggle="tab" @click.prevent="selectedComponent = 'AppEarnings'">
                    <i class="material-icons">attach_money</i> <span class="hidden-sm hidden-xs">EARNINGS</span>
                  </a>
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content" v-if="!fetching">
                <keep-alive>
                  <component :is="selectedComponent" :earnings="fromServer.standings" :fixtures="fromServer.fixtures" :standings="fromServer.standings" :members="fromServer.members"></component>
                </keep-alive>
              </div>
              <div class="tab-content" v-else>
                <div class="preloader pl-size-xl ">
                  <div class="spinner-layer pl-teal">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div><br><br>
                fetching...
              </div>
              <div class="row clearfix" v-if="!hasJoined">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <hr>
                  <button  @click="join()" class="btn bg-teal btn-block waves-effect waves-teal pull-left">JOIN</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  /* eslint-disable no-trailing-spaces,no-undef,quotes */

  import Standing from './leagueDetailComponents/standings.vue'
  import Results from './leagueDetailComponents/fixtures.vue'
  import Earnings from './leagueDetailComponents/earning.vue'
  import Members from './leagueDetailComponents/members.vue'

  export default {
    data () {
      return {
        hasJoined: false,
        id: '',
        selectedComponent: 'AppMembers',
        league: '',
        isSelected: {
          members: false,
          fixtures: false,
          standings: false,
          earnings: false
        },
        fromServer: {
          members: [],
          fixtures: [],
          standings: [],
          earnings: [],
          league: {name: '', joined: true}
        },
        type: '',
        fetching: false
      }
    },
    components: {
      AppStandings: Standing,
      AppResults: Results,
      AppMembers: Members,
      AppEarnings: Earnings
    },
    watch: {
      '$route' (to, from) {
        this.id = this.$route.params.id
        if (to.name === 'league-detail' && from.name === 'completed-leagues') {
          this.remoteLeague()
        } else {
          this.reset()
        }
        if (to.name === 'league-detail' && from.name === 'pending-leagues') {
          this.remoteLeague()
        } else {
          this.reset()
        }
        if (to.name === 'league-detail' && from.name === 'latest-leagues') {
          this.remoteLeague()
        } else {
          this.reset()
        }
      }
    },
    methods: {
      remoteLeague () {
        this.selectComponent()
        const vm = this
        $('.page-loader-wrapper').show()
        this.axios({
          url: 'user/league/all/' + vm.$route.params.id,
          method: 'get',
          headers: vm.$store.getters.config
        }).then(response => {
//          console.log(response.data.data)
          vm.setData(response.data.data)
          $('.page-loader-wrapper').hide()
        }).catch(error => {
          console.log(error.response.data)
        })
      },
      setData (data) {
        this.fromServer.members = data.members
        this.fromServer.fixtures = data.fixtures
        this.fromServer.standings = data.standings
        this.fromServer.league = data.league
        this.hasJoined = data.joined
//        console.log(this.fromServer.league)
      },
      selectComponent () {
        this.selectedComponent = this.$route.params.comp
        switch (this.selectedComponent) {
          case 'AppMembers':
            this.isSelected.members = true
            this.isSelected.earnings = false
            this.isSelected.fixtures = false
            this.isSelected.standings = false
            break
          case 'AppResults':
            this.isSelected.members = false
            this.isSelected.fixtures = true
            this.isSelected.standings = false
            this.isSelected.earnings = false
            break
          case 'AppEarnings':
            this.isSelected.members = false
            this.isSelected.fixtures = false
            this.isSelected.earnings = true
            this.isSelected.standings = false
            break
          case 'AppStandings':
            this.isSelected.members = false
            this.isSelected.fixtures = false
            this.isSelected.earnings = false
            this.isSelected.standings = true
            break
        }
      },
      reset () {
        this.fromServer.members = []
        this.fromServer.fixtures = []
        this.fromServer.standings = []
        this.fromServer.earnings = []
        this.league = ''
      },
      nextLeague () {
        this.type = 'next'
        this.getNextPrev()
      },
      previousLeague () {
        this.type = 'previous'
        this.getNextPrev()
      },
      getNextPrev () {
        this.fetching = true
        const vm = this
        this.axios({
          url: 'user/league/next-prev/' + vm.id + '?direction=' + vm.type + '&type=' + vm.$route.query.type,
          method: 'get',
          headers: vm.$store.getters.config
        }).then((response) => {
//          console.log(response.data.data.league)
          vm.setData(response.data.data)
          vm.fetching = false
//          vm.$route.params.id = response.data.data.league.id
          vm.id = response.data.data.league.id
        }).catch(() => {
          swal('Sorry, that\'s the end..', '', 'warning')
          vm.fetching = false
//          console.log(error.response.data)
        })
      },
      join () {
        const vm = this
        this.axios({
          url: 'user/league/join',
          method: 'post',
          data: {league_id: vm.$route.params.id},
          headers: vm.$store.getters.config
        }).then(response => {
          swal("Success", "", "success")
          vm.hasJoined = true
        }).catch(error => {
//          console.log(error.response.data)
          swal("Sorry an error occured", error.response.data.message, "error")
        })
      }
    },
    mounted () {
      this.remoteLeague()
//      console.log(this.$route.query.type)
      this.id = this.$route.params.id
    }
  }
</script>

<style scoped>
  .active{
    border-bottom: 1px solid #F2F4F4;
  }
</style>
