<template>
  <section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <h2>My TEAM</h2>
        <hr>
      </div>
      <app-heading></app-heading>
      <!--<div class="row clearfix">-->
        <app-strategy></app-strategy>
      <!--</div>-->
    </div>
  </section>
</template>

<script>
  import Strategy from './strategy.vue'
  import Header from './header.vue'
  import Downloads from './../../../../../services/others/downloads'

  export default {
    data () {
      return {}
    },
    components: {
      AppStrategy: Strategy,
      AppHeading: Header
    },
    activated () {
      Downloads.myTeam()
    }
  }
</script>

<style>

</style>
