<template>
  <div class="row clearfix">
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 col-lg-offset-1">
      <div class="card">
        <div class="header">
          <h2 class="col-blue-grey">SET UP YOUR STRATEGIES <span class="pull-right"><span class="font-15">Points: </span>{{Number(strategy.points).toFixed(2)}}</span></h2>
        </div>
        <div class="body">
          <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <span class="col-red" v-if="error">Name is required</span>
                    <div class="form-line">
                      <input type="text" class="form-control" placeholder="Team Name" v-model="strategy.name" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label for="picture"><img class="thumbnail" :src="profile" id="preview"></label>
                  <input type="file" id="picture" style="display: none;" v-on:change="changepicture"/>
                </div>
                <span class="col-blue-grey">Click image to upload logo</span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="progress">
                    <div class="progress-bar bg-teal" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" :style="{'width': strategy.defense + '%'}">
                      <span class="text-center" >Defense {{strategy.defense}}</span>
                    </div>
                  </div>
                  <div>
                    <button type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float pull-left" @click="decrease('defense')">
                      <i class="material-icons">chevron_left</i>
                    </button>
                    <button type="button" class="btn bg-teal btn-circle waves-effect waves-circle waves-float pull-right" @click="increase('defense')">
                      <i class="material-icons">chevron_right</i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="progress">
                    <div class="progress-bar bg-teal" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" :style="{'width': strategy.midfield + '%'}">
                      <span class="text-center">Midfield {{strategy.midfield}}</span>
                    </div>
                  </div>
                  <div>
                    <button type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float pull-left" @click="decrease('midfield')">
                      <i class="material-icons">chevron_left</i>
                    </button>
                    <button type="button" class="btn bg-teal btn-circle waves-effect waves-circle waves-float pull-right" @click="increase('midfield')">
                      <i class="material-icons">chevron_right</i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="progress">
                    <div class="progress-bar bg-teal" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" :style="{'width': strategy.attack + '%'}">
                      <span class="text-center">Attack {{strategy.attack}}</span>
                    </div>
                  </div>
                  <div>
                    <button type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float pull-left" @click="decrease('attack')">
                      <i class="material-icons">chevron_left</i>
                    </button>
                    <button type="button" class="btn bg-teal btn-circle waves-effect waves-circle waves-float pull-right" @click="increase('attack')">
                      <i class="material-icons">chevron_right</i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <button @click="save()" type="button" class="btn btn-default waves-effect waves-float">
                    <i v-if="!loader" class="material-icons">save</i> {{!loader ? 'Save Changes' : 'Saving Changes..'}}
                    <div v-if="loader" class="preloader pl-size-xs">
                      <div class="spinner-layer pl-teal">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>
                    </div>
                  </button>
                </div>
              </div>

            </div>
          </div>

          <hr>
          <div class="row clearfix text-center font-bold col-blue-grey" v-if="team !== null">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              Wins {{Number(team.win_percent).toFixed(2)}} %
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              Draws {{Number(team.draw_percent).toFixed(2)}} %
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              Goals {{team.goals}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable no-unreachable,no-multiple-empty-lines,no-trailing-spaces,padded-blocks,no-undef,no-unused-vars */

  export default {
    data () {
      return {
        loader: false,
        error: false,
        uploaded: false
      }
    },
    methods: {
      changepicture (event) {
        if (event.target.files && event.target.files[0]) {
          var reader = new FileReader()
          reader.onload = function (e) {
            $('#preview').fadeOut(500, function () {
              $(this).attr('src', e.target.result).fadeIn(500)
            })
          }
          reader.readAsDataURL(event.target.files[0])
        }
        this.uploaded = true
      },
      increase (strategy) {
        switch (strategy) {
          case 'attack':
            if (this.strategy.points >= 1) {
              this.strategy.attack++
              this.strategy.points--
            }
            break
          case 'midfield':
            if (this.strategy.points >= 1) {
              this.strategy.midfield++
              this.strategy.points--
            }
            break
          case 'defense':
            if (this.strategy.points >= 1) {
              this.strategy.defense++
              this.strategy.points--
            }
            break
        }
      },
      decrease (strategy) {
        switch (strategy) {
          case 'attack':
            if (this.strategy.attack > 5) {
              this.strategy.attack--
              this.strategy.points++
            }
            break
          case 'midfield':
            if (this.strategy.midfield > 5) {
              this.strategy.midfield--
              this.strategy.points++
            }
            break
          case 'defense':
            if (this.strategy.defense > 5) {
              this.strategy.defense--
              this.strategy.points++
            }
            break
        }
      },
      save () {
        const vm = this
        this.error = false
        if (this.strategy.name === '' || this.strategy.name === null) {
          this.error = true
          return false
        }
        this.loader = true
        if (this.$store.getters.hasTeam) {
          this.axios({
            url: 'user/team',
            method: 'put',
            data: vm.strategy,
            headers: vm.$store.getters.config
          }).then(response => {
//            console.log(response.data)
            vm.postImage()
            vm.loader = false
          }).catch(error => {
            console.log(error.response.data)
            vm.loader = false
          })
        } else {
          this.axios({
            url: 'user/team',
            method: 'post',
            data: vm.strategy,
            headers: vm.$store.getters.config
          }).then(response => {
//            console.log(response.data)
            vm.postImage()
            vm.loader = false
          }).catch(error => {
            console.log(error.response.data)
            vm.loader = false
          })
        }
      },
      postImage () {
        const vm = this
        var image = document.getElementById('picture')
        var data = new FormData()
        data.append('image', image.files[0])
        if (this.uploaded) {
          this.axios({
            url: 'user/team/image',
            method: 'post',
            data: data,
            headers: {
              'Content-Type': 'multipart/form-data',
              'Authorization': 'Bearer ' + vm.$store.getters.user.api_token
            }
          }).then(response => {
//            console.log(response.data)
            vm.$store.dispatch('upload_profile', response.data.data)
            vm.uploaded = false
          }).catch(error => {
            console.log(error.response.data)
          })
        }
      }
    },
    computed: {
      strategy () {
        if (this.$store.getters.team !== null) {
          return this.$store.getters.team
        } else {
          if (this.$store.getters.hasTeam) {
            return {
              name: '',
              attack: 5,
              midfield: 5,
              defense: 5,
              points: 5
            }
          } else {
            return {
              name: '',
              attack: 15,
              midfield: 15,
              defense: 15,
              points: 55
            }
          }
        }
      },
      profile () {
        return this.$store.getters.profile
      },
      team () {
        return this.$store.getters.team
      }
    },
    watch: {
      'strategy.attack' () {
        this.$store.dispatch('update_strategies', this.strategy)
      },
      'strategy.midfield' () {
        this.$store.dispatch('update_strategies', this.strategy)
      },
      'strategy.defense' () {
        this.$store.dispatch('update_strategies', this.strategy)
      }
    }
  }
</script>

<style scoped>
  .progress{
    margin-bottom: 5px;
  }
  .thumbnail{
    border-radius: 100px;
    cursor: pointer;
  }
  .thumbnail{
    width: 40%;
    height: auto;
    margin: auto;
    max-width: 100%;
  }
  .thumbnail:hover{
    box-shadow: 1px 1px 5px grey;
  }
</style>
