<template>
  <a href="javascript:void(0);" class="list-group-item">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">
      Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an. Pri ut tation electram moderatius.
      Per te suavitate democritum. Duis nemore probatus ne quo, ad liber essent aliquid
      pro. Et eos nusquam accumsan, vide mentitum fabellas ne est, eu munere gubergren
      sadipscing mel.
    </p>
  </a>
</template>

<script>
  export default {
    props: ['team']
  }
</script>
<style scoped>
  .list-group-item-heading, .list-group-item, .list-group-item-text{
    text-align: left;
  }
</style>
