<template>
  <div class="page-loader-wrapper" :class="{ 'load': load }">
    <div class="loader">
      <div class="preloader">
        <div class="spinner-layer pl-red">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <p>Please wait...</p>
    </div>
  </div>
</template>

<script>
export default {
  props: ['load'],
  computed: {
    loader () {
      return this.load
    }
  }
}
</script>

<style>
.load{
  display: none;
}
</style>
