<template>
  <p class="message" :class="{'text-left': !message.user, 'text-right': message.user}">
    <span class="font-bold">{{message.user ? 'You' : 'Pescedi'}}</span><br>
    {{message.body}}
  </p>
</template>
<script>
  export default {
    props: ['message']
  }
</script>
<style scoped>
  /*.message{*/
    /*border: 1px solid #009688;;*/
    /*padding: 10px;*/
    /*!*background: #009688;*!*/
    /*color: white;*/
  /*}*/
</style>
