<template>
  <!-- Top Bar -->
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
        <a href="javascript:void(0);" class="bars"></a>
        <a class="navbar-brand" href="#" >Pescedi Virtual Reality</a>
      </div>
    </div>
  </nav>
  <!-- #Top Bar -->
</template>

<script>

</script>

<style>

</style>
