<template>
  <section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
      <!-- User Info -->
      <div class="user-info">
        <div class="image">
          <img src="/static/images/user.png" width="48" height="48" alt="User" />
        </div>
        <div v-show="auth" class="info-container">
          <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ $store.getters.auth ? $store.getters.user.fullname : 'User' }}</div>
          <div class="email">{{$store.getters.auth ? $store.getters.user.email : 'email@email.com'}}</div>
          <div class="btn-group user-helper-dropdown">
            <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
            <ul class="dropdown-menu pull-right">
              <li><a href="javascript:void(0);" @click="showProfile()"><i class="material-icons">person</i>Profile</a></li>
              <!--<li role="seperator" class="divider"></li>-->
              <!--<li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>-->
              <!--<li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>-->
              <!--<li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>-->
              <li role="seperator" class="divider"></li>
              <li><a href="#" @click.prevent="logout()"><i class="material-icons">settings_power</i>Sign Out</a></li>
            </ul>
          </div>
        </div>

        <div v-if="!auth" class="info-container">
          <div class="font-16 col-white">Hey there!!!</div>
          <div class="font-12 col-white">Welcome to Pescedi Virtual Reality</div>
        </div>
      </div>
      <!-- #User Info -->
      <!-- Menu -->
      <div class="menu">
        <ul class="list">
          <li class="header">MAIN NAVIGATION</li>

          <!--<router-link :to="{name: 'main-home'}" tag="li">-->
            <!--<a href="#" class="waves-teal">-->
              <!--<i class="material-icons">home</i>-->
              <!--<span>Home</span>-->
            <!--</a>-->
          <!--</router-link>-->

          <router-link :to="{name: 'welcome'}" tag="li" activeClass="active">
            <a href="#" class="waves-teal">
              <i class="material-icons">info</i>
              <span>About Pescedi</span>
            </a>
          </router-link>

          <router-link :to="{name: 'myteam'}" tag="li" activeClass="active" v-show="auth">
            <a href="#" class="waves-teal">
              <i class="material-icons">trending_up</i>
              <span>My Team</span>
            </a>
          </router-link>

          <router-link :to="{name: 'wallet'}" tag="li" activeClass="active" v-show="auth">
            <a href="#" class="waves-teal">
              <i class="material-icons">account_balance_wallet</i>
              <span>My wallet</span>
            </a>
          </router-link>

          <li v-show="auth">
            <a href="javascript:void(0);" class="menu-toggle">
              <i class="material-icons">compare_arrows</i>
              <span>Betting</span>
            </a>
            <ul class="ml-menu">
              <router-link :to="{name: 'fixtures'}" tag="li" activeClass="active">
                <a href="#" class="waves-teal">Fixtures</a>
              </router-link>
              <router-link :to="{name: 'slip'}" tag="li" activeClass="active">
                <a href="#" class="waves-teal">Slip</a>
              </router-link>
              <router-link :to="{name: 'history'}" tag="li" activeClass="active">
                <a href="#" class="waves-teal">History</a>
              </router-link>
            </ul>
          </li>

          <li v-show="auth">
            <a href="javascript:void(0);" class="menu-toggle waves-teal">
              <i class="material-icons">transfer_within_a_station</i>
              <span>League</span>
            </a>
            <ul class="ml-menu">
              <router-link :to="{name: 'latest-leagues'}" tag="li" activeClass="active">
                <a href="#" class="waves-teal">Latest Leagues</a>
              </router-link>
              <router-link :to="{name: 'pending-leagues'}" tag="li" activeClass="active">
                <a href="#" class="waves-teal">My Pending Leagues</a>
              </router-link>
              <router-link :to="{name: 'completed-leagues'}" tag="li" activeClass="active">
                <a href="#" class="waves-teal">My Completed Leagues</a>
              </router-link>
              <router-link :to="{name: 'create'}" tag="li" ActiveClass="active">
                <a href="#" class="waves-teal">Create new league</a>
              </router-link>
              <router-link :to="{name: 'alltimeranking'}" tag="li">
                <a href="#" class="waves-teal">All Time Ranking</a>
              </router-link>
            </ul>
          </li>

          <router-link :to="{name: 'login'}" activeClass="active" tag="li" v-show="!auth">
            <a href="#" class="waves-teal">
              <i class="material-icons">settings_power</i>
              <span>Login</span>
            </a>
          </router-link>

          <router-link :to="{name: 'register'}" activeClass="active" tag="li" v-show="!auth">
            <a href="#" class="waves-teal">
              <i class="material-icons">assignment_ind</i>
              <span>Register</span>
            </a>
          </router-link>

          <li>
            <a href="javascript:void(0);" class="menu-toggle waves-teal">
              <i class="material-icons">verified_user</i>
              <span>How to</span>
            </a>
            <ul class="ml-menu">
              <router-link :to="{name: 'howToPlay'}" tag="li">
                <a href="#" class="waves-teal">How to play</a>
              </router-link>
              <!--<li>-->
                <!--<a href="#" class="waves-teal">How to acheive best Strategy</a>-->
              <!--</li>-->
              <router-link :to="{name: 'faq'}" tag="li" activeClass="active">
                <a href="#" class="waves-teal">Frequently asked questions</a>
              </router-link>
              <li>
                <a href="#" @click.prevent="chat()">Chat Support</a>
              </li>
            </ul>
          </li>



        </ul>
      </div>
      <!-- #Menu -->
      <!-- Footer -->
      <div class="legal">
        <div class="copyright">
          &copy; 2018 | <a href="javascript:void(0);">Pescedi Inc</a>
        </div>
        <div class="version">
          <b>Version: </b> 1.0.1
        </div>
      </div>
      <!-- #Footer -->
    </aside>

    <div class="modal fade" id="chatModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header bg-teal">
            <h4 class="modal-title">Chat live with Pescedi</h4>
          </div>
          <div class="modal-body">
           <app-message v-for="(message, index) in messages" :message="message" :key="index"></app-message>
          </div>
          <div class="modal-footer">
            <form @submit.prevent="submit()">
              <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <div class="form-line">
                      <textarea rows="2" class="form-control no-resize" v-model="text" placeholder="What do you want to ask?..." style="border-radius: 5px; padding: 10px;"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-link waves-effect col-teal" data-dismiss="modal"><span class="material-icons">close</span></button>
              <button type="submit" class="btn btn-link waves-effect col-teal"><span class="material-icons">send</span></button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" v-if="user !== null">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content col-teal">
          <div class="modal-header">
            <h4 class="modal-title" id="smallModalLabel">Edit Your Profile</h4>
          </div>
          <div class="modal-body">
            <div>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="form-control" placeholder="Fullname" v-model="user.fullname"/>
                </div>
              </div>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="form-control" placeholder="Username" v-model="user.username" />
                </div>
              </div>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="form-control" placeholder="Phone" v-model="user.phone" />
                </div>
              </div>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="form-control" placeholder="Email" v-model="user.email"/>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link waves-effect col-teal" @click="save()">SAVE CHANGES</button>
            <button type="button" class="btn btn-link waves-effect col-teal" data-dismiss="modal">CLOSE</button>
          </div>
        </div>
      </div>
    </div>

  </section>
</template>

<script>
  /* eslint-disable no-undef,indent,quotes,no-constant-condition,no-unreachable,camelcase */

  import signout from '../../../services/auth/logout'
  import Message from './message.vue'

  export default {
    data () {
      return {
        messages: [],
        text: ''
      }
    },
    components: {
      AppMessage: Message
    },
    methods: {
      logout () {
        signout()
        this.$router.push({name: 'main-home'})
      },
      showProfile () {
        $('#profileModal').modal({
          backdrop: 'static'
        })
      },
      save () {
//        console.log('saving changes')
        localStorage.setItem('user', JSON.stringify(this.user))
        sessionStorage.setItem('user', JSON.stringify(this.user))
        this.remoteSave()
      },
      remoteSave () {
        const vm = this
        this.axios({
          url: 'user/profile',
          method: 'put',
          data: {fullname: vm.user.fullname, email: vm.user.email, username: vm.user.username, phone: vm.user.phone},
          headers: vm.$store.getters.config
        }).then((response) => {
//          console.log(response.data.data)
          $('#profileModal').modal('hide')
        }).catch((error) => {
          swal(error.response.data.message, '', 'error')
        })
      },
      chat () {
        $('#chatModal').modal({
          backdrop: 'static'
        })
      },
      submit () {
        const vm = this
        const chat_token = localStorage.getItem('chat_token')
        if (chat_token === null) {
          var uuid = require("uuid")
          var id = uuid.v4()
          localStorage.setItem('chat_token', id)
        }
        if (this.text !== '') {
          this.messages.push({user: true, body: vm.text})
        }
        this.text = ''
      }
    },
    computed: {
      auth () {
        return this.$store.getters.auth
      },
      user () {
        return this.$store.getters.user
      }
    }
  }
</script>

<style scoped>
/*.user-info{*/
  /*background: url("/static/images/pescedi.jpg") no-repeat no-repeat;*/
/*}*/
  .message{
    border: 1px solid #009688;;
    padding: 10px;
    background: #009688;
    color: white;
  }
</style>
