<template>
  <section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <h2>YOUR BET SLIP</h2>
        <hr>
      </div>

      <div v-if="history !== null" class="row clearfix" v-for="chunk in history">
        <app-slip-item v-for="(slip, index) in chunk" :key="index" :slip="slip"></app-slip-item>
      </div>

      <div v-if="history === null" class="card">
        <div class="header">
          <p class="font-14 col-teal">
            LOADING SLIPS...
          </p>
          <div class="body">
            <div class="preloader pl-size-xl pl-deep-orange">
              <div class="spinner-layer">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="history !== null && history.length < 1" class="card">
        <div class="header">

        </div>
        <p class="body text-center font-bold font-12 col-blue-grey">
         No content
        </p>
      </div>
    </div>
  </section>
</template>

<script>
  import SlipItem from './slipItem.vue'
  import DownloadService from './../../../../../services/history/download'

  export default {
    components: {
      AppSlipItem: SlipItem
    },
    computed: {
      historylen () {
        return this.$store.getters.historyLen
      },
      history () {
        return this.$store.getters.history
      }
    },
    activated () {
      DownloadService.download()
    }
  }
</script>
