<template>
  <div v-if="!isdeleted" class="col-lg-4 col-md-4 col-sm-6 col-xs-12" >
    <div class="card">
      <div class="header text-left" :class="{'bg-teal': slip.won, 'bg-red': !slip.won}">
        <h2>
          SLIP {{slip.id}} <span class="font-bold" > | {{ slip.won ? 'WON' : 'LOST' }} <span class="font-12 ">on {{(new Date(slip.staked_on.date)).toDateString()}}</span></span>
          <br>
          <span class="font-16">odds: {{Number(slip.odd).toFixed(2)}}, Gain: {{Number(slip.odd * slip.stake).toFixed(2)}}</span>
        </h2>
        <ul class="header-dropdown m-r--5">
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">more_vert</i>
            </a>
            <ul class="dropdown-menu pull-right">
              <li><a href="javascript:void(0);" @click.prevent="toggle = !toggle">{{toggle ? 'Hide details' : 'Show details'}}</a></li>
              <li><a href="javascript:void(0);" @click.prevent="deleted()">Delete</a></li>
              <!--<li><a href="javascript:void(0);">Something else here</a></li>-->
            </ul>
          </li>
        </ul>
      </div>
      <div class="body text-left" v-show="toggle">
        <ul class="list-group">
          <li v-for="fixture in slip.fixtures" class="list-group-item">
            <span class="font-bold">{{fixture.home}} vs {{fixture.away}}</span>    <span class="font-12 col-blue-grey">({{fixture.bet}}) ({{fixture.odd}})</span>
            <span class="badge" :class="{'bg-red': !fixture.status, 'bg-teal': fixture.status}">{{fixture.status ? 'won' : 'loss'}}</span></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['slip'],
    data () {
      return {
        toggle: false,
        isdeleted: false
      }
    },
    methods: {
      deleted () {
        //  send request to server
        this.isdeleted = true
      }
    }
  }
</script>

<style scoped>
 .header.text-left{
   cursor: pointer;
 }
  .list-group li {
    overflow-y: hidden;
    overflow-x: hidden;
  }
</style>
