<template>
  <div id="auth">
    <app-nav-bar></app-nav-bar>
    <app-side-bar></app-side-bar>

    <router-view></router-view>

  </div>
</template>

<script>
  import NavBar from '../includes/navbar.vue'
  import SideBar from '../includes/sidebar.vue'
  import Loader from '../includes/loader.vue'

  export default {
    components: {
      AppNavBar: NavBar,
      AppSideBar: SideBar,
      AppLoader: Loader
    }
  }
</script>
