<template>
  <section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <!--<h2>WELCOME TO PESCEDI VIRTUAL REALITY</h2>-->
        <!--<hr>-->
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <app-home></app-home>
          </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 col-lg-offset-1">
              <div class="card">
                <div class="body">
                  <blockquote class="m-b-25 text-left font-16">
                    <p class="text-justify">
                      <span class="font-bold col-teal">Pescedi is a virtual Reality of football world</span>. At Pescedi, you can
                      <span class="font-bold col-teal">stake soccer bets<sup>(1)</sup></span>
                      and make money, or create leagues or join other leagues
                      created by other people. The soccer matches are not real-life matches,
                      but computer simulations. Do you love soccer betting? Do you want to make money
                      at the lowest risk? Then join <span class="font-bold col-teal">Pescedi League feature<sup>(2)</sup></span>. Pescedi Virtual Reality will make
                      these dreams come true. An Intelligent Machine learning algorithm simulates all matches
                    </p>
                  </blockquote>
                  <div class="text-left">
                    <p class="feature text-justify">
                      Pescedi is virtual because matches played are not based on real world events but purely on AI and machine learned computer simulations.
                      Let's take for instance <span class="col-teal">staking bets</span>. You get the chance to select among several choices and their commensurated odds just like you stake bets
                      on other betting sites.
                      Well if you think the probability of lossing a bet is high, you can partake in leagues creaed by you and your friends on pescedi.
                      These leagues will have a minimun entry fee which you have to pay before you join. On completion of the league, you will be paid according to the position you placed.
                      The fixtures in each league are also simulated in real time.
                      Guess what? once you create account, with pescedi, you automatically be assigned a team which you set your formation the way you want it. Hence you're the manager of your own team.
                      Moreover pescedi has thought of helping you simulate the work of a team manager. Pescedi allows you to <span class="col-teal">create a robot</span> and tell it which league(s) it should
                      join on your behalf. You can tell it which bets it should stake on your behalf. This  bot will work hard to keep your account growing..
                    </p>
                  </div>
                  <hr>
                  <blockquote class="m-b-25 text-left font-16">
                    <p>
                      <span class="font-bold col-teal">Features of Pescedi</span>
                    </p>
                  </blockquote>
                     <div class="text-left">
                       <h5 class="col-blue-grey">Stake bets from specified matches.</h5>
                       <p class="feature text-justify">
                         After you create an account with Pescedi, you get access
                         to fixtures page, where you can select matches/fixtures with variety of
                         betting odds for various matches. Most matches have high odds for sure.

                         After selecting fixtures of your choice, you will get access slip page where
                         you enter amount and stake, your bet. You will see the simulation in real time<br><br>
                       </p>

                       <h5 class="col-blue-grey">Join leagues created by you and your friends and make money.</h5>
                       <p class="feature text-justify">
                         This is a feature you must not miss, the first of its kind.
                         Let me ask you these questions,<br>
                         <b>How do you feel when you gamble and loss it all and your money too?</b><br>
                         <b>How will you feel when you gamble and lost it, but still won some money bigger than what you invested with?</b><br>
                         Lastly <b>how will you feel when you gamble, lost it but won some money though not higher than your initial amount?</b><br>
                         Well at Pescedi League Feature you cant lose all your money though you lost. Pescedi will eliminate the situation presented by the first question above by using your answers from the last two questions.

                         You can create multiple leagues and join other leagues too. After the entire season for a league is simulated, your position will
                         determine your earnings for that particular league.

                         One benefit of joining leagues is that,
                         you get the chance winning some money above your entry fee and this gradually
                         increase your money from Pesewas to cedi, hence the name Pescedi.
                       </p>
                     </div>
                  <hr>
                  <blockquote class="m-b-25 text-left font-16">
                    <p>
                      <span class="font-bold col-teal">Privacy, Terms & Conditions </span>
                    </p>
                  </blockquote>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
  /* eslint-disable no-undef,quotes */

  import Home from './home.vue'

  export default {
    components: {
      AppHome: Home
    },
    computed: {
      tutorial () {
        return JSON.parse(localStorage.getItem('tutorial'))
      }
    },
    mounted () {
//      if (this.tutorial.tutorial && this.tutorial.about) {
//        swal({
//          title: "Hey there! I'm Kingsley",
//          text: 'Are you new here? Would you like me to take you through few things? I\'ll do this only once',
//          imageUrl: '/static/images/User_100px.png',
//          showCancelButton: true,
//          confirmButtonColor: "#009688",
//          confirmButtonText: "Yes, help me!",
//          cancelButtonText: "No, I'm okay thanks",
//          closeOnConfirm: false,
//          closeOnCancel: false
//        }, function (isConfirm) {
//          if (isConfirm) {
//            swal("Thanks, I promise you'll find me useful!", "I'll leave you here to read more. As you keep browsing, You'll meet me again", "success")
//          } else {
//            var t = JSON.parse(localStorage.getItem('tutorial'))
//            t.tutorial = false
//            localStorage.setItem('tutorial', JSON.stringify(t))
//            swal("Oh okay, fine", "I'll stay mute then :)", "success")
//          }
//        })
//      }
    }
  }
</script>
<style scoped>
  blockquote{
    /*word-spacing: 3px;*/
    /*line-height: 1.5em;*/
    font-size: 1.01em;
  }
  .feature{
    font-size: 1.2em;
    word-spacing: 2px;
    padding-left: 10px;
    line-height: 1.5em;
  }
</style>
