<template>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-teal">
              <div class="icon">
                <i class="material-icons">pan_tool</i>
              </div>
              <div class="content text-left">
                <div class="text">LATEST LEAGUES</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">+{{pending}}</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-teal">
              <div class="icon">
                <i class="material-icons">group</i>
              </div>
              <div class="content">
                <div class="text">NEW MEMBERS</div>
                <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">+{{members}}</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-teal">
              <div class="icon">
                <i class="material-icons">bookmark</i>
              </div>
              <div class="content">
                <div class="text">COMPLETED LEAGUES</div>
                <div class="number count-to" data-from="0" data-to="117" data-speed="1000" data-fresh-interval="20">+{{completed}}</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-teal">
              <div class="icon">
                <i class="material-icons">favorite</i>
              </div>
              <div class="content">
                <div class="text">BET WINNINGS</div>
                <div class="number count-to" data-from="0" data-to="1432" data-speed="1500" data-fresh-interval="20">+{{betwins}}</div>
              </div>
            </div>
          </div>
        </div>
</template>

<script>
  /* eslint-disable indent */

  export default {
    data () {
      return {
        timer: null
      }
    },
    computed: {
      maxwins () {
        return Number(this.$store.getters.maxwins).toFixed(2)
      },
      pending () {
        return this.$store.getters.pendingLeagues
      },
      completed () {
        return this.$store.getters.leaguesWon
      },
      members () {
        return this.$store.getters.members
      },
      betwins () {
        return this.$store.getters.betwins
      }
    },
    deactivated () {
//      clearInterval(this.timer)
    },
    activated () {
      const vm = this
//      this.timer = setInterval(() => {
        vm.axios({
          url: 'home',
          method: 'get',
          headers: {'Content-Type': 'Application/json', 'X-Requested-With': 'XMLHttpRequest'}
        }).then(response => {
//          console.log(response.data.data)
          vm.$store.dispatch('update_home', response.data.data)
        }).catch(error => {
          console.log(error.response.data)
        })
//      }, 5000)
    }
  }
</script>

<style scoped>
  .info-box{
    cursor: pointer;
  }
  .content{
    text-align: left;
  }
</style>
