<template>
  <div class="login-page bg-teal container">
  <div class="login-box">
    <div class="logo">
      <a href="javascript:void(0);" class="font-14">LOGIN</a>
      <small>Hi! {{ name }}, welcome back, Enter your credentials to confirm it's you</small>
      <img src="../../../../static/images/change_user.png"/>
    </div>
    <div class="card">
      <div class="body">
        <form method="POST">
          <div class="msg" v-if="!loginError">Sign in to start your session</div>
          <div class="msg col-red" v-if="loginError">Incorrect credentials, try again</div>
          <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons col-teal">phone</i>
                        </span>
            <div class="form-line">
              <input type="text" class="form-control" v-model="login.phone" name="phone" placeholder="Mobile Number" required autofocus>
            </div>
            <p class="col-deep-orange font-12" v-if="mobile">Mobile must be a valid phone number</p>
          </div>
          <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons col-teal">lock</i>
                        </span>
            <div class="form-line">
              <input type="password" class="form-control" v-model="login.password" name="password" placeholder="Password" required >
            </div>
            <p class="col-deep-orange" v-if="pass">Password is required</p>
          </div>
          <div class="row">
            <div class="col-xs-8 p-t-5">
              <input type="checkbox" name="rememberme" id="rememberme" v-model="remember" class="filled-in chk-col-teal">
              <label for="rememberme">Remember Me</label>
            </div>
            <div class="col-xs-4">
              <button class="btn btn-block bg-teal waves-effect" @click.prevent="validate()">Login</button>
            </div>
          </div>
          <div class="row m-t-15 m-b--20">
            <div class="col-xs-6">
              <router-link class="btn btn-block bg-teal waves-effect" :to="{ name: 'register' }" tag="a">
                Register Now
              </router-link>
              <!--<a href="#" class="btn btn-block bg-teal waves-effect" ></a>-->
            </div>
            <div class="col-xs-6 align-right">
              <a href="#" class="btn btn-block bg-red waves-effect">Forgot Password?</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
  import { isPhone } from './../../../helpers/validator/phone'
  import Auth from './../../../services/auth/login'

  export default {
    data () {
      return {
        login: {
          phone: '',
          password: ''
        },
        remember: false,
        mobile: false,
        pass: false
      }
    },
    methods: {
      validate () {
        this.mobile = false
        this.pass = false
        if (!isPhone(this.login.phone)) {
          this.mobile = true
        }
        if (this.login.password === '') {
          this.pass = true
        }
        if (!this.mobile && !this.pass) {
          this.signin()
        }
      },
      signin () {
        this.$store.dispatch('loginError', false)
        Auth.login(this.login, this.remember)
      }
    },
    computed: {
      loginError () {
        return this.$store.getters.loginError
      },
      name () {
        return JSON.parse(localStorage.getItem('name'))
      },
      auth () {
        return this.$store.getters.auth
      }
    },
    watch: {
      auth () {
        if (this.auth) {
          this.$router.push({name: 'main-home'})
        }
      }
    }
  }
</script>
<style scoped>
  .login-page{
    padding: 20px;
    margin-top: -1px;
  }

  .logo{
    box-sizing: border-box;
    padding-top: 20px;
  }

  .error{
    font-size: 0.8em;
    color: red;
    text-align: left;
  }

</style>
