<template>
  <div class="login-page bg-teal">
    <div class="login-box">
      <div class="logo">
        <a href="javascript:void(0);">REGISTER</a>
        <small>Create a free account and start making money</small>
        <img src="../../../../static/images/Registration_100px.png"/>
      </div>
      <div class="card">
        <div class="body">
          <form id="sign_in" method="POST" @submit.prevent="validateBeforeSubmit">
            <div class="msg col-teal">Sign up to get a free account</div>

            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons col-teal">person</i>
                        </span>
              <div class="form-line">
                <input
                  type="text"
                  v-model="fullname"
                  class="form-control"
                  name="fullname"
                  v-validate="'required|alpha_spaces'"
                  placeholder="Full name"  autofocus>
              </div>
            </div>
            <p class="col-deep-orange font-12" v-if="errors.has('fullname')">{{ errors.first('fullname') }}</p>
            <p class="col-deep-orange font-12" >{{ server_errors.fullname[0] }}</p>

            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons col-teal">person</i>
                        </span>
              <div class="form-line">
                <input type="text" class="form-control" name="username"
                       id="username"
                       v-model="username"
                       v-validate="'required|alpha_num|min:3'"
                       placeholder="Username" >
              </div>
            </div>
            <p class="col-deep-orange font-12" v-if="errors.has('username')">{{ errors.first('username') }}</p>
            <p class="col-deep-orange font-12" >{{ server_errors.username[0] }}</p>

            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons col-teal">email</i>
                        </span>
              <div class="form-line">
                <input type="email" class="form-control" name="email" v-model="email" v-validate="'required|email'" placeholder="Email Address" >
              </div>
            </div>
            <p class="col-deep-orange font-12" v-if="errors.has('email')">{{ errors.first('email') }}</p>
            <p class="col-deep-orange font-12" >{{ server_errors.email[0] }}</p>

            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons col-teal">phone</i>
                        </span>
              <div class="form-line">
                <input type="text" class="form-control" name="phone" v-model="phone" v-validate="'required|numeric|min:10'" placeholder="Phone"  autofocus>
              </div>
            </div>
            <p class="col-deep-orange font-12" v-if="errors.has('phone')">{{ errors.first('phone') }}</p>
            <p class="col-deep-orange font-12" >{{ server_errors.phone[0] }}</p>


            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons col-teal">lock</i>
                        </span>
              <div class="form-line">
                <input type="password" id="password" class="form-control" name="password" v-model="password" v-validate="'required|min:6|confirmed:password_confirmation'"
                       placeholder="Password"  >
              </div>
            </div>
            <p class="col-deep-orange font-12" v-if="errors.has('password')">{{ errors.first('password') }}</p>
            <p class="col-deep-orange font-12" >{{ server_errors.password[0] }}</p>

            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons col-teal">lock</i>
                        </span>
              <div class="form-line">
                <input type="password" id="password_confirm" class="form-control" name="password_confirmation" v-model="password_confirmation" placeholder="Password Confirmation"  >
              </div>
            </div>
            <div class="row">
              <div class="col-xs-7">
                <input type="checkbox" name="rememberme" id="rememberme" @change="showPassword" class="filled-in chk-col-teal">
                <label for="rememberme" class="col-teal">{{remember}}</label>
              </div>
              <div class="col-xs-5">
                <button v-if="!loading" class="btn btn-block bg-teal waves-effect" type="submit">Register</button>
                <div v-if="loading" class="preloader pl-size-xs">
                  <div class="spinner-layer pl-teal">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-teal" >
                By clicking on register, you agree with our privacy and terms & conditions
              </div>
            </div>

            <div class="row m-t-15 m-b--20">
              <div class="col-xs-6">
                <router-link class="btn btn-block bg-teal waves-effect" tag="a" :to="{name: 'login'}" >Or login?</router-link>
              </div>
              <div class="col-xs-6 align-right">
                <a href="#" class="btn btn-block bg-red waves-effect">Agreements</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  /* eslint-disable no-undef,quotes */

  export default {
    data () {
      return {
        loading: false,
        fullname: '',
        username: '',
        email: '',
        phone: '',
        password: '',
        password_confirmation: '',
        remember: 'Show password',
        server_errors: {
          fullname: [''],
          username: [''],
          email: [''],
          phone: [''],
          password: ['']
        }
      }
    },
    methods: {
      showPassword (event) {
        if ($('#rememberme').is(':checked')) {
          $('#password').attr('type', 'text')
          $('#password_confirm').attr('type', 'text')
          this.remember = 'Hide password'
        } else {
          $('#password').attr('type', 'password')
          $('#password_confirm').attr('type', 'password')
          this.remember = 'Show password'
        }
      },
      validateBeforeSubmit (e) {
        this.$validator.validateAll()
        if (!this.errors.any()) {
          this.submit()
        }
      },
      submit () {
        this.loading = true
        var formData = new FormData()
        formData.append('username', this.username)
        formData.append('fullname', this.fullname)
        formData.append('email', this.email)
        formData.append('phone', this.phone)
        formData.append('password', this.password)
        formData.append('password_confirmation', this.password_confirmation)
        this.clear()
        const vm = this
        this.axios({
          url: '/register',
          method: 'post',
          data: formData
        }).then(response => {
          vm.loading = false
          if (response.data.status) {
            swal("Congratulation", "You've successfully registered", "success")
            var t = JSON.parse(localStorage.getItem('tutorial'))
            t.register = false
            localStorage.setItem('tutorial', JSON.stringify(t))
          }
        }).catch(error => {
          vm.mapErrors(error.response.data.data)
          vm.loading = false
        })
      },
      mapErrors (data) {
        this.server_errors.email = data.hasOwnProperty('email') ? data.email : ['']
        this.server_errors.username = data.hasOwnProperty('username') ? data.username : ['']
        this.server_errors.password = data.hasOwnProperty('password') ? data.password : ['']
        this.server_errors.phone = data.hasOwnProperty('phone') ? data.phone : ['']
        this.server_errors.fullname = data.hasOwnProperty('fullname') ? data.fullname : ['']
      },
      clear () {
        this.server_errors.fullname = ['']
        this.server_errors.username = ['']
        this.server_errors.email = ['']
        this.server_errors.password = ['']
        this.server_errors.phone = ['']
      }
    }
  }
</script>
<style scoped>
  .login-page{
    /*background: url("/static/images/image-gallery/16.jpg") no-repeat;*/
    padding: 20px;
    margin-top: -1px;
  }

  .logo{
    box-sizing: border-box;
    padding-top: 20px;
  }

</style>
