<template>
  <section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <h2>
          <button class="btn bg-teal btn-lg m-l-15 waves-effect" @click.prevent="download()">CLICK TO RESET FIXTURES</button>
        </h2>
        <hr>
      </div>

      <div class="row clearfix" v-for="chunk in fixtures">
        <app-fixture v-for="(fixture, index) in chunk" :key="index" :fixture="fixture"></app-fixture>
      </div>

      <div v-if="len < 1" class="card">
        <div class="header">
          <p class="font-14 col-teal">
            LOADING FIXTURES...
          </p>
          <div class="body">
            <div class="preloader pl-size-xl pl-deep-orange">
              <div class="spinner-layer">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import Fixture from './fixture.vue'
  import fixturesService from './../../../../../services/fixtures/download'

  export default {
    components: {
      AppFixture: Fixture
    },
    computed: {
      fixtures () {
        return this.$store.getters.fixtures
      },
      len () {
        return this.$store.getters.no_fixtures
      },
      start () {
        return this.$store.getters.start
      },
      done () {
        return this.$store.getters.done
      }
    },
    methods: {
      download () {
//        if (this.done === true) {
        fixturesService.download()
//        }
      }
    }
  }
</script>
