<template>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="card">
      <div class="header">
        <p class="font-bold">
          <span class="badge" v-for="f in [0,1,2,3]"
                :class="{ 'bg-teal': fixture.home.current_form[f] === 'W', 'bg-red': fixture.home.current_form[f] === 'L', 'bg-grey': fixture.home.current_form[f] === 'D' }"
          >{{ fixture.home.current_form[f] }}</span>
          <span class="club pull-right" @click="home()"><span class="font-10 col-blue-grey">(H) </span> {{ fixture.home.name }}</span>
        </p>
        <p class="font-bold">
          <span class="badge" v-for="f in [0,1,2,3]"
                :class="{ 'bg-teal': fixture.away.current_form[f] === 'W', 'bg-red': fixture.away.current_form[f] === 'L', 'bg-grey': fixture.away.current_form[f] === 'D' }"
          >{{ fixture.away.current_form[f] }}</span>
          <span class="club pull-right" @click="away()"><span class="font-10 col-blue-grey">(A) </span> {{ fixture.away.name }}</span>
        </p>
        <ul class="header-dropdown m-r--5">
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">more_vert</i>
            </a>
            <ul class="dropdown-menu pull-right">
              <li><a href="#" @click="bet()">Bet Options</a></li>
              <li><a href="#" @click="home()">{{fixture.home.name}}</a></li>
              <li><a href="#" @click="away()">{{fixture.away.name}}</a></li>
              <li><a href="#" @click="headToHead()">Head to head</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="body">
        <keep-alive>
          <!--<app-odds :odd="fixture.odds" :betId="fixture.id"></app-odds>-->
          <!--<app-team :team="fixture.home"></app-team>-->
          <!--<app-team :team="fixture.away"></app-team>-->
          <!--<app-stats :fixture="fixture"></app-stats>-->
          <component :is="isSelected" :odd="fixture.odds" :betId="fixture.id" :team="team" :fixture="fixture"></component>
        </keep-alive>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable no-trailing-spaces,no-undef,indent,quotes */

  import Odds from './odds.vue'
  import Team from './team.vue'
  import Stats from './stats.vue'

  export default {
    components: {
      AppOdds: Odds,
      AppTeam: Team,
      AppStats: Stats
    },
    data () {
      return {
        isSelected: 'AppOdds',
        team: null
      }
    },
    methods: {
      bet () {
        this.isSelected = 'AppOdds'
      },
      home () {
        this.isSelected = 'AppTeam'
        this.team = this.fixture.home
      },
      away () {
        this.isSelected = 'AppTeam'
        this.team = this.fixture.away
      },
      headToHead () {
        this.isSelected = 'AppStats'
      }
    },
    props: ['fixture']
  }
</script>

<style scoped>
 p{
   text-align: left;
 }
  .badge{
    border-radius: 0px;
  }
  .club{
    margin-right: 20px;
    /*padding-right: 50px;*/
    cursor: pointer;
  }
  .badge{
    margin-right: 1px;
  }


  /*.dropdown-menu li a:hover{*/
    /*background: rgb(0, 150, 136);*/
    /*color: white;*/
  /*}*/
</style>
