<template>
  <div>
    <button @click="one" :class="{'btn btn-default waves-effect btn-sm': !os, 'btn btn-primarry waves-effect btn-sm': os}">1 ({{ odd.one }})</button>
    <button @click="draw"  :class="{'btn btn-default waves-effect btn-sm': !ds, 'btn btn-primarry waves-effect btn-sm': ds}">X ({{odd.draw}})</button>
    <button @click="two" :class="{'btn btn-default waves-effect btn-sm': !ts, 'btn btn-primarry waves-effect btn-sm': ts}">2 ({{odd.two}})</button>
    <button @click="onex" :class="{'btn btn-default waves-effect btn-sm': !ox, 'btn btn-primarry waves-effect btn-sm': ox}">1/X ({{odd.onex}})</button>
    <button @click="twox" :class="{'btn btn-default waves-effect btn-sm': !tx, 'btn btn-primarry waves-effect btn-sm': tx}">2/X ({{odd.twox}})</button>
    <!--<button type="button" class="btn btn-default  waves-effect btn-sm">Over 2.5 (odd)</button>-->
  </div>
</template>
<script>
  /* eslint-disable no-undef,indent */

  import slipService from '../../../../../services/fixtures/addToSlip'

  export default {
    props: ['odd', 'betId'],
    data () {
      return {
        os: false,
        ts: false,
        ds: false,
        ox: false,
        tx: false,
        o: 1,
        t: 1,
        d: 1,
        x1: 1,
        x2: 1
      }
    },
    methods: {
      one () {
        if (this.o % 2 === 1) {
          if (!this.ts && !this.ds && !this.ox && !this.tx) {
            slipService({id: this.betId, type: 'one', odd: this.odd.one})
            this.os = true
            this.notify('choice HOME WIN with odd: ' + this.odd.one + ' added', 'check', 'bg-green')
          }
        } else {
          this.$store.dispatch('remove_selected', this.betId)
          this.os = false
          this.notify('choice HOME WIN with odd: ' + this.odd.one + ' removed', 'close', 'bg-red')
        }
        this.o++
      },
      two () {
        if (this.t % 2 === 1) {
          if (!this.os && !this.ds && !this.tx && !this.ox) {
            slipService({id: this.betId, type: 'two', odd: this.odd.two})
            this.ts = true
            this.notify('choice AWAY WIN with odd: ' + this.odd.two + ' added', 'check', 'bg-green')
          }
        } else {
          this.$store.dispatch('remove_selected', this.betId)
          this.ts = false
          this.notify('choice AWAY WIN with odd: ' + this.odd.two + ' removed', 'close', 'bg-red')
        }
        this.t++
      },
      draw () {
        if (this.d % 2 === 1) {
          if (!this.os && !this.ts && !this.ox && !this.tx) {
            slipService({id: this.betId, type: 'draw', odd: this.odd.draw})
            this.ds = true
            this.notify('choice DRAW with odd: ' + this.odd.draw + ' added', 'check', 'bg-green')
          }
        } else {
          this.$store.dispatch('remove_selected', this.betId)
          this.ds = false
          this.notify('choice DRAW with odd: ' + this.odd.draw + ' removed', 'close', 'bg-red')
        }
        this.d++
      },
      onex () {
        if (this.x1 % 2 === 1) {
          if (!this.os && !this.ts && !this.ds && !this.tx) {
            slipService({id: this.betId, type: 'onex', odd: this.odd.onex})
            this.ox = true
            this.notify('choice HOME WIN/DRAW with odd: ' + this.odd.onex + ' added', 'check', 'bg-green')
          }
        } else {
          this.$store.dispatch('remove_selected', this.betId)
          this.ox = false
          this.notify('choice HOME WIN/DRAW with odd: ' + this.odd.onex + ' removed', 'close', 'bg-red')
        }
        this.x1++
      },
      twox () {
        if (this.x2 % 2 === 1) {
          if (!this.os && !this.ds && !this.ox && !this.ts) {
            slipService({id: this.betId, type: 'twox', odd: this.odd.twox})
            this.tx = true
            this.notify('choice AWAY WIN/DRAW with odd: ' + this.odd.twox + ' added', 'check', 'bg-green')
          }
        } else {
          this.$store.dispatch('remove_selected', this.betId)
          this.tx = false
          this.notify('choice AWAY WIN/DRAW with odd: ' + this.odd.twox + ' removed', 'close', 'bg-red')
        }
        this.x2++
      },
      reset () {
        this.os = false
        this.ts = false
        this.ox = false
        this.tx = false
        this.ds = false
        this.o = 1
        this.t = 1
        this.d = 1
        this.x1 = 1
        this.x2 = 1
      },
      notify (message, icon, color) {
        $.notify({
            icon: 'glyphicon glyphicon-' + icon,
            message: message
          },
          {
            element: 'body',
            type: color,
            allow_dismiss: true,
            newest_on_top: true,
            timer: 1000,
            placement: {
              from: 'top',
              align: 'right'
            },
            animate: {
              enter: 'animated fadeInDown',
              exit: 'animated fadeOutUp'
            },
            template: '<div data-notify="container" class="bootstrap-notify-container alert alert-dismissible {0} ' + 'p-r-35' + '" role="alert">' +
            '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
            '<span data-notify="icon"></span> ' +
            '<span data-notify="title">{1}</span> ' +
            '<span data-notify="message">{2}</span>' +
            '<div class="progress" data-notify="progressbar">' +
            '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
            '</div>' +
            '<a href="{3}" target="{4}" data-notify="url"></a>' +
            '</div>'
          })
      }
    },
    computed: {
      start () {
        return this.$store.getters.start
      }
    },
    watch: {
      start () {
        if (this.start === true) {
          this.reset()
        }
      }
    }
  }
</script>

<style>
  .btn{
    border-radius: 0px;
    margin: 5px;
  }
</style>
