<template>
  <div class="main">
    <table border="1">
     <tr class="font-bold font-14 col-blue-grey">
       <td>{{fixture.home.name}}</td>
       <td>{{fixture.away.name}}</td>
     </tr>
      <tr class="font-bold font-12 col-teal">
        <td colspan="2" >
          Predictions
        </td>
      </tr>
      <tr>
        <td>{{fixture.prediction.home}}</td>
        <td>{{fixture.prediction.away}}</td>
      </tr>

      <tr class="font-bold font-12 col-teal">
        <td colspan="2" >
          Win Percentage
        </td>
      </tr>
      <tr>
        <td>{{fixture.home.win_percent}}%</td>
        <td>{{fixture.away.win_percent}}%</td>
      </tr>


      <tr class="font-bold font-12 col-teal">
        <td colspan="2" >
          Head-To-Head
        </td>
      </tr>
      <tr>
        <td>{{fixture.head2head.home}}</td>
        <td>{{fixture.head2head.away}}</td>
      </tr>

      <tr class="font-bold font-12 col-teal">
        <td colspan="2" >
          All-time ranking
        </td>
      </tr>
      <tr>
        <td>{{fixture.home.position}}<sup>{{position(fixture.home.position)}}</sup></td>
        <td>{{fixture.away.position}}<sup>{{position(fixture.away.position)}}</sup></td>
      </tr>

      <tr class="font-bold font-12 col-teal">
        <td colspan="2" >
          Last few matches
        </td>
      </tr>
      <tr>
        <td class="text-left">
          <span v-for="f in fixture.home.last_four">
            <span class="font-bold font-11 col-blue-grey">{{f.team}}
            <i class="pull-right badge font-7" :class="{'bg-red': f.form === 'L', 'bg-teal': f.form === 'W', 'bg-grey': f.form === 'D'}">{{f.form}}</i>
          </span>
          <br>
          </span>
        </td>
        <td>
          <span v-for="f in fixture.away.last_four">
             <span class="font-bold font-11 col-blue-grey">{{f.team}}
            <i class="pull-right badge font-7" :class="{'bg-red': f.form === 'L', 'bg-teal': f.form === 'W', 'bg-grey': f.form === 'D'}">{{f.form}}</i>
          </span>
            <br>
          </span>
        </td>
      </tr>


    </table>
  </div>
</template>

<script>
  export default {
    props: ['fixture'],
    methods: {
      position (i) {
        var j = i % 10
        var k = i % 100
        if (j === 1 && k !== 11) {
          return 'st'
        }
        if (j === 2 && k !== 12) {
          return 'nd'
        }
        if (j === 3 && k !== 13) {
          return 'rd'
        }
        return 'th'
      }
    }
  }
</script>

<style scoped>
  .main{
    overflow-y: auto;
  }
  table{
    width: 100%;
    max-width: 100%;
  }
  td{
    padding: 4px;
  }
  .badge{
    border-radius: 0px;
    padding: 3px;
  }
</style>
