<template>
  <div class="main">
    <p class="font-bold font-12 col-blue-grey">{{ team.name }}</p>
    <p class="font-bold stra"><span class="col-teal">Attack Strength</span> <span class="pull-right col-deep-orange">{{Math.floor(team.attack)}}</span></p>
    <p class="font-bold stra"><span class="col-teal">Midfield Strength</span> <span class="pull-right col-deep-orange">{{Math.floor(team.midfield)}}</span></p>
    <p class="font-bold stra"><span class="col-teal">Defense Strength</span> <span class="pull-right col-deep-orange">{{Math.floor(team.defense)}}</span></p>
    <div class="font-bold stra"><span class="col-teal">Form</span>
    <p class="pull-right"><span class="badge" v-for="f in team.current_form" :class="{ 'bg-teal': f === 'W', 'bg-red': f === 'L', 'bg-grey': f === 'D' }">{{ f }}</span></p>
  </div>
    <br>
    <div class="font-bold stra"><span class="col-teal">Appearance</span>
      <p class="pull-right">
        <span class="col-teal">Won</span> <span class="badge bg-teal">{{team.won}}</span> |
        <span class="col-teal">Draw</span> <span class="badge bg-grey">{{ team.matches - (team.won + team.loss) }}</span> |
        <span class="col-teal">Loss</span> <span class="badge bg-red">{{team.loss}}</span>
    </p></div>
    <br>
    <div class="font-bold stra"><span class="col-teal">Goals</span>
      <p class="pull-right">
        <span class="col-teal">For</span> <span class="badge bg-teal">{{team.goals}}</span> |
        <span class="col-teal">Against</span> <span class="badge bg-red">{{team.concede}}</span>
      </p>
    </div>
    <br>
  </div>
</template>

<script>
  export default {
    props: ['team']
  }
</script>

<style scoped>
  .stra{
    text-align: left;
    border-bottom: 1px solid grey;
  }
  .main{
    overflow-y: auto;
  }
  .badge{
    border-radius: 0px;
    margin-right: 1px;
    /*padding: 3px;*/
  }
</style>
