<template>
  <section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <h2>ALL TIME RANKING - 1ST 100 TEAMS @PESCEDI</h2>
        <hr>
      </div>

      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
             1ST to 100TH
            </div>
            <div class="body">
              <table>
                <!--<thead class="bg-teal">-->
                <tr class="bg-teal">
                  <td>#</td>
                  <td>Name</td>
                  <td>MP</td>
                  <td class="hidden-xs ">W</td>
                  <td class="hidden-xs ">D</td>
                  <td class="hidden-xs hidden-sm">L</td>
                  <td class="hidden-xs">GF</td>
                  <td class="hidden-xs hidden-sm">GA</td>
                  <td>% Drawn</td>
                  <td>% Wins</td>
                </tr>
                <!--</thead>-->
                <tbody>
                <tr v-for="(stand, index) in standings" :class="{'font-bold': team ? stand.id === team.id : false}">
                  <td>{{++index}}</td>
                  <td class="text-left">{{stand.name}}</td>
                  <td>{{stand.matches}}</td>
                  <td class="hidden-xs ">{{stand.won}}</td>
                  <td class="hidden-xs ">{{stand.matches - stand.won - stand.loss}}</td>
                  <td class="hidden-xs hidden-sm">{{stand.loss}}</td>
                  <td class="hidden-xs">{{stand.goals}}</td>
                  <td class="hidden-xs hidden-sm">{{stand.concede}}</td>
                  <td>{{Number(stand.draw_percent).toFixed(2)}}</td>
                  <td>{{Number(stand.win_percent).toFixed(2)}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
  /* eslint-disable no-trailing-spaces,no-undef */

  export default {
    computed: {
      team () {
        return this.$store.getters.team
      }
    },
    data () {
      return {
        standings: []
      }
    },
    activated () {
      this.remoteFetch()
    },
    methods: {
      remoteFetch () {
        const vm = this
        $('.page-loader-wrapper').show()
        this.axios({
          url: 'user/team/all-time-ranking',
          method: 'get',
          headers: vm.$store.getters.config
        }).then((response) => {
//          console.log(response.data)
          $('.page-loader-wrapper').hide()
          vm.setData(response.data.data)
        }).catch((error) => {
          console.log(error.response.data)
        })
      },
      setData (data) {
        this.standings = data
      }
    }
  }
</script>
<style scoped>
  table{
    width: 100%;
    overflow: auto;
    padding-left: 5px;
    height: auto;
  }
  .row{
    padding: 0px;
  }
  td{
    padding: 5px;
    padding-bottom: 8px;
    padding-top: 8px;
  }
  tbody tr:nth-child(even){
    background-color: #F2F4F4;
  }
</style>
