<template>
  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-teal">
            <div class="icon">
              <i class="material-icons">money</i>
            </div>
            <div class="content">
              <div class="text">BALANCE - Ghs</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">{{Number(detail.account.balance).toFixed(2)}}</div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-teal clickable">
            <div class="icon">
              <i class="material-icons">mood</i>
            </div>
            <div class="content">
              <div class="text">LEAGUE TRANSACTIONS</div>
              <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">+{{detail.earnings}}</div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-teal clickable">
            <div class="icon">
              <i class="material-icons">file_upload</i>
            </div>
            <div class="content">
              <div class="text">DEPOSITS</div>
              <div class="number count-to" data-from="0" data-to="117" data-speed="1000" data-fresh-interval="20">+{{detail.deposits}}</div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-teal clickable">
            <div class="icon">
              <i class="material-icons">get_app</i>
            </div>
            <div class="content">
              <div class="text">WITHDRAWALS</div>
              <div class="number count-to" data-from="0" data-to="1432" data-speed="1500" data-fresh-interval="20">+{{detail.withdrawals}}</div>
            </div>
          </div>
        </div>
      </div>


      <div class="row clearfix">
        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 col-lg-offset-1">

          <app-actions></app-actions>

          <div class="card">
            <div class="header font-bold font-12 col-blue-grey">
               Transactions
            </div>
            <div class="body text-center">
              <p class="text-center">
                League transactions
              </p>
              <div class="text-left">
                <ol>
                <li v-for="trans in detail.league_transactions" class="font-16 text-justify">
                  GHS <span class="font-bold col-teal">{{Number(trans.amount).toFixed(2)}}</span>
                  has been {{trans.type === 'earning' ? 'deposited into ' : trans.type === 'entry fee' ? 'deducted from ' : 'added'}} your account as {{trans.type}} for
                  {{trans.type === 'entry fee'? 'joining' : trans.type === 'earning' ? 'finishing' : 'leaving'}} league <span class="font-bold col-teal">{{trans.league}}</span>
                  on <span class="font-bold col-teal">{{new Date(trans.created_at).toDateString()}}</span>
                  <!--Transaction ID is <span class="font-bold col-teal">{{trans.transaction_id}}</span>-->
                </li>
                </ol>
              </div>
              <br>

              <p class="text-center">
                Bet transactions
              </p>
              <div class="text-left">
                <ol>
                  <li v-for="trans in detail.slip_transactions" class="font-16 text-justify">
                    <!--{{trans.status ? 'A' : 'An'}}-->
                  <!--<span class="font-bold col-teal">{{trans.status ? 'addition ' : 'deduction' }}</span>-->
                    <!--of GHS <span class="font-bold col-teal">{{trans.status ? Number(trans.stake * trans.odd).toFixed(2) : Number(trans.stake).toFixed(2)}}-->
                  <!--</span> has been made to your account-->
                    <!--for a bet with ID: {{trans.slip_id}} <span class="font-bold" :class="{'col-teal': trans.status, 'col-red': !trans.status}">{{trans.status ? 'won' : 'loss'}}</span>-->
                    <!--on {{new Date(trans.created_at).toDateString()}}-->
                    A deduction of GHS <span class="col-teal font-bold">{{Number(trans.stake).toFixed(2)}}</span> for bet slip {{trans.slip_id}}.
                    <span v-if="trans.status" class="col-teal font-bold">You won {{Number(trans.stake * trans.odd).toFixed(2)}}</span>
                  </li>
                </ol>
              </div>
              <br>

              <p class="text-center">
                Withdrawals and Deposits
              </p>
              <div class="text-left">
                <ol>
                  <li v-for="trans in detail.depwith_transaction" class="font-16 text-justify">
                    A <span class="font-bold col-teal">{{trans.type}}</span> of GHS <span class="font-bold">{{trans.amount}}</span> has been
                    made on {{new Date(trans.created_at).toDateString()}}.
                  </li>
                </ol>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  /* eslint-disable no-undef */

  import Actions from './withTopUp.vue'

  export default {
    components: {
      AppActions: Actions
    },
    data () {
      return {
        detail: {
          account: {balance: 0},
          withdrawals: 0,
          deposits: 0,
          earnings: 0,
          league_transactions: []
        }
      }
    },
    methods: {
      remoteFetch () {
        const vm = this
        $('.page-loader-wrapper').show()
        this.axios({
          url: 'user/account',
          method: 'get',
          headers: vm.$store.getters.config
        }).then((response) => {
//          console.log(response.data.data)
          $('.page-loader-wrapper').hide()
          vm.detail = response.data.data
        }).catch(() => {
//          console.log(error.response.data)
        })
      }
    },
    activated () {
      this.remoteFetch()
    }
  }
</script>

<style scoped>
  .clickable{
    cursor: pointer;
  }
  li{
    margin-bottom: 10px;
    border-bottom: 1px solid #D6DBDF;
    padding-bottom: 2px;
    word-spacing: 4px;
  }
  .content{
    text-align: left;
  }
</style>
