<template>
  <div>
    <div class="card">
      <div class="header">
        MY WALLET
      </div>
      <div class="body">
        <div class="row">
          <div class="col-md-12">
            <button class="btn bg-orange waves-effect waves-orange pull-left" @click="withdraw()">Withdraw</button>
            <button class="btn bg-teal waves-effect waves-teal pull-right" @click="topUp()">Top Up</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="smallModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content col-teal">
          <form @submit.prevent="validateBeforeSubmit()">
          <div class="modal-header">
            <h4 class="modal-title" id="smallModalLabel">{{type}}</h4>
          </div>
          <div class="modal-body">
            <div v-if="!loading">

               <div class="form-group">
                 <div class="form-line">
                   <input type="text" class="form-control" placeholder="Mobile Money Number" v-model="phone"  name="phone" v-validate="'required|numeric|min:10'"/>
                 </div>
               </div>
               <p class="col-red font-12" v-if="errors.has('phone')">{{errors.first('phone')}}</p>
              <div class="demo-radio-button">
                <input name="group1" type="radio" id="radio_1" checked />
                <label for="radio_1">MTN CASH</label>
                <input name="group1" type="radio" id="radio_2" />
                <label for="radio_2">VODAFONE CASH</label>
              </div><br>
               <div class="form-group">
                 <div class="form-line">
                   <input type="text" class="form-control" placeholder="Amount" name="amount" v-model="amount" v-validate="'required|decimal:2'"/>
                 </div>
               </div>
               <p class="col-red font-12" v-if="errors.has('amount')">{{errors.first('amount')}}</p>

            </div>

            <div v-else>
              <div class="preloader pl-size-xl ">
                <div class="spinner-layer pl-teal">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
              <p class="processing font-15 text-center">Processing... Please confirm upload. Enter your MM PIN in the prompt</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-link waves-effect" v-if="!loading">DONE</button>
            <button type="submit" class="btn btn-link waves-effect" data-dismiss="modal" v-if="!loading">CLOSE</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  /* eslint-disable no-undef */

  export default {
    data () {
      return {
        type: '',
        wd: false,
        dp: false,
        loading: false,
        phone: '',
        amount: '',
        network: ''
      }
    },
    methods: {
      done () {
        this.loading = !this.loading
        if (this.dp) {
          console.log('depositing')
        }
        if (this.wd) {
          console.log('withdrawing')
        }
      },
      topUp () {
        this.type = 'TOP UP ACCOUNT BALANCE'
        this.showModal()
        this.dp = true
        this.wd = false
      },
      withdraw () {
        this.type = 'WITHDRAWAL FROM ACCOUNT'
        this.showModal()
        this.dp = false
        this.wd = true
      },
      showModal () {
        $('#smallModal').modal({
          backdrop: 'static'
        })
      },
      validateBeforeSubmit () {
        this.$validator.validateAll()
        if (!this.errors.any()) {
          this.done()
        }
      }
    }
  }
</script>

<style scoped>
  .processing{
    margin-top: 100px;
  }
  .preloader{
    margin-top: 100px;
  }
</style>
