<template>
  <div id="app">
    <app-nav-bar></app-nav-bar>
    <app-side-bar></app-side-bar>

    <keep-alive>
      <router-view/>
    </keep-alive>
  </div>
</template>

<script>
  /* eslint-disable no-undef,quotes */

  import NavBar from './components/auth-true/includes/navbar.vue'
  import SideBar from './components/auth-true/includes/sidebar.vue'
//  import FixturedownloadService from './services/fixtures/download'
  import loginService from './services/auth/login'
//  import History from './services/history/download'
//  import Services from './services/others/downloads'

  export default {
    name: 'app',
    components: {
      AppNavBar: NavBar,
      AppSideBar: SideBar
    },
    computed: {
      headers () {
        return this.$store.getters.config
      }
    },
    created () {
      loginService.localLogin()
    },
    beforeCreate () {
//      var tutorial = JSON.parse(localStorage.getItem('tutorial'))
//      if (tutorial === null) {
//        tutorial = {tutorial: true, about: true, register: true}
//        localStorage.setItem('tutorial', JSON.stringify(tutorial))
//      }
    }
  }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
